$name: ea-col;

:host {
  --#{$name}-span: 24;
  --#{$name}-offset: 0;
  --#{$name}-push: 0;
  --#{$name}-pull: 0;
}

:host {
  box-sizing: border-box;
  flex: 0 0 calc(var(--#{$name}-span) / 24 * 100%);
  max-width: calc(var(--#{$name}-span) / 24 * 100%);
  display: block;
}

::slotted(*) {
  display: block;
}

@include block($name) {
  box-sizing: border-box;


  padding-left: var(--ea-row-gutter);
  padding-right: var(--ea-row-gutter);

  margin-left: calc(var(--#{$name}-offset) / 24 * 100%);

  translate: calc((var(--#{$name}-push) - var(--#{$name}-pull)) / 24 * 100%);
}