$name: ea-splitter-bar;

:host {
  --#{$name}-size: 1rem;
  --#{$name}-color: var(--color-border);
  --#{$name}-hover-color: var(--color-blue);

  display: block;
  position: relative;
  flex-shrink: 0;
}

:host([layout="horizontal"]) {
  cursor: col-resize;
  width: var(--#{$name}-size);
  height: 100%;
}

:host([layout="vertical"]) {
  cursor: row-resize;
  width: 100%;
  height: var(--#{$name}-size);
}

@include block($name) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--#{$name}-color);
  }

  &:hover {
    &::after {
      background-color: var(--#{$name}-hover-color);
    }
  }

  @include modifier(horizontal) {
    &::after {
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include modifier(vertical) {
    &::after {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
