@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-timeline-item_wrap {
  position: relative;
  padding-bottom: 20px;
  padding-left: 28px;
  list-style: none;
}
.ea-timeline-item_wrap .ea-timeline-item_circle {
  position: absolute;
  left: 0;
  z-index: 1;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e4e7ed;
}
.ea-timeline-item_wrap .ea-timeline-item_circle.ea-timeline-item--primary {
  background-color: #409eff;
}
.ea-timeline-item_wrap .ea-timeline-item_circle.ea-timeline-item--success {
  background-color: #67c23a;
}
.ea-timeline-item_wrap .ea-timeline-item_circle.ea-timeline-item--warning {
  background-color: #e6a23c;
}
.ea-timeline-item_wrap .ea-timeline-item_circle.ea-timeline-item--danger {
  background-color: #f56c6c;
}
.ea-timeline-item_wrap .ea-timeline-item_circle.ea-timeline-item--info {
  background-color: #e4e7ed;
}
.ea-timeline-item_wrap .ea-timeline-item_tail {
  z-index: 0;
  position: absolute;
  left: 4.5px;
  height: 100%;
  border-left: 2px solid #e4e7ed;
}
.ea-timeline-item_wrap .ea-timeline-item_container {
  position: relative;
  top: -4px;
  font-size: 14px;
}
.ea-timeline-item_wrap .ea-timeline-item_container .ea-timeline-item_timestamp {
  color: #303133;
  line-height: 1;
  margin-top: 8px;
}
.ea-timeline-item_wrap .ea-timeline-item_container .ea-timeline-item_content {
  color: #909399;
}