$name: ea-border-beam;

:host {
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-transition: var(--transition-normal);

  --#{$name}-text: var(--grey-900);
  --#{$name}-bg: var(--blue-500);
  --#{$name}-border-color: var(--grey-300);

  --#{$name}-indicator-size: 100px;
  --#{$name}-indicator-color: linear-gradient(
    to right,
    transparent 50%,
    var(--blue-500)
  );
  --#{$name}-indicator-line-width: 1px;
  --#{$name}-duration: 10s;
  --#{$name}-start-delay: 0s;
  --#{$name}-initial-distance: 0%;

  display: block;
}

@include block(#{$name}) {
  box-sizing: border-box;
  position: relative;

  padding: var(--#{$name}-indicator-line-width);
  border-radius: var(--#{$name}-border-radius);

  overflow: hidden;

  @include element("indicator") {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;

    z-index: -1;

    &::before {
      content: "";
      position: absolute;

      inset: -1px -1px -1px -1px;

      width: var(--#{$name}-indicator-size);
      offset-path: rect(0px 100% 100% 0px round var(--#{$name}-indicator-size));
      offset-anchor: 90% 50%;

      background-image: var(--#{$name}-indicator-color);

      animation: #{$name}-animation var(--#{$name}-duration) linear infinite;
      animation-delay: var(--#{$name}-start-delay);
      animation-fill-mode: forwards;
    }
  }

  @include state(trigger-hover) {
    .#{$name}__indicator {
      &::before {
        opacity: 0;
        animation-play-state: paused;
        transition: opacity var(--#{$name}-transition);
      }
    }

    &:hover {
      .#{$name}__indicator {
        &::before {
          opacity: 1;
          animation-play-state: running;
        }
      }
    }
  }
}

@keyframes ea-border-beam-animation {
  0% {
    offset-distance: var(--#{$name}-initial-distance, 0%);
  }

  100% {
    offset-distance: calc(100% + var(--#{$name}-initial-distance, 0%));
  }
}
