$name: ea-splitter-panel;

:host {
  --#{$name}-size: 100%;
  --#{$name}-min-size: 0;

  overflow: hidden;
}

:host([layout="horizontal"]) {
  width: var(--#{$name}-size);
  min-width: var(--#{$name}-min-size);
}

:host([layout="vertical"]) {
  height: var(--#{$name}-size);
  min-height: var(--#{$name}-min-size);
}

@include block($name) {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
