$name: ea-input-number;

@mixin operator-disabled-style {
  cursor: var(--cursor-not-allowed);
  color: var(--#{$name}-operator-disabled-color);

  &:hover {
    color: var(--#{$name}-operator-disabled-color);
  }
}

:host {
  --#{$name}-width: 150px;
  --#{$name}-width-large: 180px;
  --#{$name}-width-small: 120px;

  --#{$name}-height: 32px;
  --#{$name}-height-large: 40px;
  --#{$name}-height-small: 24px;

  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-font-size-large: var(--font-size-lg);
  --#{$name}-font-size-small: var(--font-size-sm);

  --#{$name}-border-color: var(--grey-300);
  --#{$name}-text-color: var(--grey-700);

  --#{$name}-operator-color: var(--grey-500);
  --#{$name}-operator-bg-color: var(--grey-100);
  --#{$name}-operator-disabled-color: var(--grey-300);

  --#{$name}-input-disabled-color: var(--grey-400);
  --#{$name}-input-disabled-bg-color: var(--grey-100);

  --#{$name}-active-color: var(--blue-500);

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

:host([disabled]) {
  cursor: var(--cursor-not-allowed);
}

@include block($name) {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  @include element(region) {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    user-select: none;

    width: calc(var(--#{$name}-width) - 2px);

    border: var(--border-width) solid var(--#{$name}-border-color);
    border-radius: var(--border-radius-sm);

    overflow: hidden;

    transition: border var(--#{$name}-transition);
  }

  @include element(form-label) {
    padding-bottom: var(--spacing-md);

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-text-color);

    &:empty {
      display: none;
    }
  }

  @include element(decrease) {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0.5rem;

    height: calc(var(--#{$name}-height) - 2px);
    line-height: calc(var(--#{$name}-height) - 2px);

    color: var(--#{$name}-operator-color);

    background-color: var(--#{$name}-operator-bg-color);

    cursor: var(--cursor-pointer);

    border-right: var(--border-width) solid var(--#{$name}-border-color);

    &:hover {
      color: var(--#{$name}-active-color);
    }
  }

  @include element(increase) {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0.5rem;

    height: calc(var(--#{$name}-height) - 2px);
    line-height: calc(var(--#{$name}-height) - 2px);

    color: var(--#{$name}-operator-color);

    background-color: var(--#{$name}-operator-bg-color);

    cursor: var(--cursor-pointer);

    border-left: var(--border-width) solid var(--#{$name}-border-color);

    &:hover {
      color: var(--#{$name}-active-color);
    }
  }

  @include element(prefix) {
    display: flex;
    align-items: center;
  }

  @include element(suffix) {
    display: flex;
    align-items: center;
  }

  @include element(inner) {
    flex: 1;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-ms-clear {
      display: none;
    }

    -webkit-appearance: none;
    -moz-appearance: textfield;

    box-sizing: border-box;

    outline: 0;
    border: 0;

    width: 100%;
    height: calc(var(--#{$name}-height) - 2px);
    line-height: calc(var(--#{$name}-height) - 2px);
    padding: 0 var(--spacing-sm);

    text-align: center;

    color: var(--#{$name}-text-color);
    font-size: var(--#{$name}-font-size);
  }

  @include modifier(size-large) {
    .#{$name}__region {
      width: calc(var(--#{$name}-width-large) - 2px);
    }

    .#{$name}__decrease,
    .#{$name}__increase,
    .#{$name}__inner {
      height: calc(var(--#{$name}-height-large) - 2px);
      line-height: calc(var(--#{$name}-height-large) - 2px);
      font-size: var(--#{$name}-font-size-large);
    }
  }

  @include modifier(size-small) {
    .#{$name}__region {
      width: calc(var(--#{$name}-width-small) - 2px);
    }

    .#{$name}__decrease,
    .#{$name}__increase,
    .#{$name}__inner {
      height: calc(var(--#{$name}-height-small) - 2px);
      line-height: calc(var(--#{$name}-height-small) - 2px);
      font-size: var(--#{$name}-font-size-small);
    }
  }

  @include modifier(left) {
    .#{$name}__inner {
      text-align: left;
    }
  }

  @include modifier(center) {
    .#{$name}__inner {
      text-align: center;
    }
  }

  @include modifier(right) {
    .#{$name}__inner {
      text-align: right;
    }
  }

  @include state(focus) {
    .#{$name}__region {
      border-color: var(--#{$name}-active-color);
    }
  }

  @include state(min) {
    .#{$name}__decrease {
      @include operator-disabled-style;
    }
  }

  @include state(max) {
    .#{$name}__increase {
      @include operator-disabled-style;
    }
  }

  @include state(disabled) {
    pointer-events: none;

    .#{$name}__region {
      border-color: var(--#{$name}-border-color);
    }

    .#{$name}__decrease,
    .#{$name}__increase {
      @include operator-disabled-style;
    }

    .#{$name}__inner {
      color: var(--#{$name}-input-disabled-color);
      background-color: var(--#{$name}-input-disabled-bg-color);
    }
  }

  @include state(no-controls) {
    .#{$name}__region {
      display: inline-flex;
    }

    .#{$name}__decrease,
    .#{$name}__increase {
      display: none;
    }
  }
}
