$name: ea-menu;

:host {
  --#{$name}-bg-color: var(--color-white);
  --#{$name}-hover-bg-color: var(--blue-100);
  --#{$name}-active-bg-color: var(--blue-100);

  --#{$name}-border-color: var(--grey-100);

  --#{$name}-text-color: var(--grey-900);
  --#{$name}-active-text-color: var(--blue-500);
}

:host {
  display: block;
}

@include block($name) {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  padding: 0 var(--spacing-lg);

  background-color: var(--#{$name}-bg-color);
  color: var(--#{$name}-text-color);

  border-bottom: 2px solid var(--#{$name}-border-color);

  @include modifier(horizontal) {
    flex-direction: row;
    align-items: center;
  }

  @include modifier(vertical) {
    flex-direction: column;
    align-items: stretch;
  }
}
