$name: ea-popconfirm;

:host {
  --#{$name}-title-icon-color: rgb(255, 153, 0);
  --#{$name}-title-color: var(--grey-900);
  --#{$name}-title-font-size: var(--font-size-md);

  --#{$name}-box-shadow: var(--box-shadow-md);
  --#{$name}-border-radius: var(--border-radius-sm);

  --#{$name}-z-index: 100;
}

@include block(ea-popper) {
  @include element(original) {
    box-shadow: var(--#{$name}-box-shadow);
    border-radius: var(--#{$name}-border-radius);
    z-index: var(--#{$name}-z-index);
  }
}

@include block($name) {
  @include element(title) {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    font-size: var(--#{$name}-title-font-size);
    line-height: var(--#{$name}-title-font-size);
    color: var(--#{$name}-title-color);
    margin-bottom: var(--spacing-lg);

    ea-icon {
      color: var(--#{$name}-title-icon-color);
    }
  }

  @include element(footer) {
    text-align: right;

    ea-button:first-child {
      box-sizing: border-box;
      margin-right: var(--spacing-md);
    }
  }

  @include state(icon-hidden) {
    .#{$name}__title ea-icon {
      display: none;
    }
  }
}
