$name: ea-tooltip;

:host {
  --#{$name}-spacing: 5px 11px;

  --#{$name}-bg-color-dark: var(--grey-900);
  --#{$name}-color-dark: var(--white);
  --#{$name}-bg-color-light: var(--white);
  --#{$name}-color-light: var(--grey-900);

  --#{$name}-background-color: none;
  --#{$name}-color: none;

  --#{$name}-font-size: var(--font-size-sm);

  --#{$name}-box-shadow: var(--box-shadow-md);
  --#{$name}-border-radius: var(--border-radius-sm);

  --#{$name}-z-index: 100;
}

@include block(ea-popper) {
  @include element(original) {
    padding: var(--#{$name}-spacing);
    border-radius: var(--#{$name}-border-radius);
    background-color: var(--#{$name}-background-color);

    color: var(--#{$name}-color);
    font-size: var(--#{$name}-font-size);

    z-index: var(--#{$name}-z-index);
  }
}

@include block($name) {
  --ea-popper-arrow-size: 6px;

  @include modifier(dark) {
    --ea-popper-border-color: transparent;
    --#{$name}-color: var(--#{$name}-color-dark);
    --#{$name}-background-color: var(--#{$name}-bg-color-dark);

    .ea-popper__original {
      --ea-popper-background-color: var(--#{$name}-background-color);
    }
  }

  @include modifier(light) {
    --#{$name}-color: var(--#{$name}-color-light);
    --#{$name}-background-color: var(--#{$name}-bg-color-light);
  }

  @include element(content) {
    line-height: var(--#{$name}-font-size);
  }
}
