@import "../ea-ui-base-style.scss";
@import "../ea-icon/index.scss";

.ea-textarea_wrap {
  position: relative;
  width: 100%;

  .ea-textarea_inner {
    box-sizing: border-box;
    box-shadow: none;
    resize: vertical;
    min-height: 1.75rem;

    border: 1px solid $color-border;
    outline: 0;
    transition: border 0.2s;
    border-radius: 3px;

    padding: 0.5rem;

    line-height: 0.8;
    font-size: 0.8rem;
    scrollbar-width: none;

    &:focus {
      border-color: $color-primary-border;
    }

    &::placeholder {
      color: $color-disabled-text;
    }

    &.disabled {
      background-color: $color-disabled-btn-bgc;
      color: $color-disabled-text;
    }

    &.invalid {
      border-color: $color-danger-border;
    }
  }

  .ea-input_word-limit {
    position: absolute;
    font-size: 0.75rem;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
