$name: ea-tab;

:host {
  --#{$name}-active-color: var(--blue-500);
  --#{$name}-disabled-color: var(--grey-400);

  --#{$name}-border-card-bg-color: var(--color-white);
}

:host {
  cursor: pointer;
}

:host([disabled]) {
  cursor: not-allowed;
}

@include block($name) {
  box-sizing: border-box;
  padding: 0 var(--ea-tabs-tab-spacing);

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  height: calc(var(--ea-tabs-nav-height) - 5px);
  line-height: calc(var(--ea-tabs-nav-height) - 5px);

  border: 1px solid transparent;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @include element(close-icon) {
    display: none;
    margin-left: var(--spacing-sm);
    margin-top: var(--spacing-sm);
  }

  @include modifier(card) {
    border-color: var(--ea-tabs-border-color);
    border-right-color: transparent;

    @include state(active) {
      &.#{$name}--top,
      &.#{$name}--bottom {
        border-bottom-color: transparent;
      }

      &.#{$name}--left {
        border-right-color: transparent;
      }

      &.#{$name}--right {
        border-left-color: transparent;
      }
    }

    &.#{$name}--left,
    &.#{$name}--right {
      border-bottom-color: transparent;
      border-right-color: var(--ea-tabs-border-color);

      @include state(last) {
        border-bottom-color: var(--ea-tabs-border-color);
      }
    }
  }

  @include modifier(border-card) {
    transition:
      background var(--ea-tabs-transition),
      color var(--ea-tabs-transition),
      border-color var(--ea-tabs-transition);

    &.#{$name}--top,
    &.#{$name}--bottom {
      border-bottom-color: var(--ea-tabs-border-color);
    }

    &.#{$name}--left {
      border-right-color: var(--ea-tabs-border-color);
    }

    &.#{$name}--right {
      border-left-color: var(--ea-tabs-border-color);
    }

    @include state(active) {
      background-color: var(--#{$name}-border-card-bg-color);

      border: 1px solid transparent;

      &.#{$name}--top,
      &.#{$name}--bottom {
        border-left-color: var(--ea-tabs-border-color);
        border-right-color: var(--ea-tabs-border-color);

        @include state(first) {
          border-left-color: transparent;
        }
      }

      &.#{$name}--left,
      &.#{$name}--right {
        border-top-color: var(--ea-tabs-border-color);
        border-bottom-color: var(--ea-tabs-border-color);

        @include state(first) {
          border-top-color: transparent;
        }
      }

      &.#{$name}--left {
        border-right-color: transparent;
      }

      &.#{$name}--right {
        border-left-color: transparent;
      }
    }
  }

  @include state(disabled) {
    pointer-events: none;
    color: var(--#{$name}-disabled-color);
  }

  @include state(active) {
    color: var(--#{$name}-active-color);
  }

  @include state(last) {
    &.#{$name}--card:not(.#{$name}--left) {
      border-right-color: var(--ea-tabs-border-color);
    }
  }

  @include state(closable) {
    .#{$name}__close-icon {
      display: block;
    }
  }
}
