:host {
  --ea-collapse-item-border-top: none;

  --ea-collapse-item-height: 0;
}

:host([active]) {
  .default-expand-icon {
    transform: rotate(0);
  }

  .ea-collapse-item__content {
    padding-bottom: 25px;
  }
}

@include block(ea-collapse-item) {
  border-top: var(--ea-collapse-item-border-top);
  border-bottom: 1px solid #ebeef5;

  @include element(title-wrap) {
    position: relative;

    cursor: pointer;
  }

  @include element(title) {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    line-height: 48px;

    font-size: 13px;
    font-weight: 700;
    color: #303133;
  }

  @include element(indicator) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .default-expand-icon {
      transition: transform 0.3s;
      transform: rotate(-90deg);
    }
  }

  @include element(content) {
    will-change: height;
    overflow: hidden;

    height: var(--ea-collapse-item-height);
    padding-bottom: 0;

    transition: height 0.3s, padding-bottom 0.3s;
    font-size: 13px;
    color: #303133;
  }

  @include modifier(indicator-left) {
    .ea-collapse-item__indicator {
      position: relative;
      inset: unset;
      transform: unset;
    }
  }

  @include state(disabled) {
    .ea-collapse-item__title-wrap {
      cursor: not-allowed;
    }

    .ea-collapse-item__title {
      color: var(--grey-400);
    }
  }
}
