:host {
  --ea-collapse-item-border-top: none;
  --ea-collapse-item-border: 1px solid var(--grey-200);

  --ea-collapse-item-title-height: 48px;
  --ea-collapse-item-title-font-size: var(--font-size-md);
  --ea-collapse-item-title-color: var(--grey-900);
  --ea-collapse-item-title-disabled-color: var(--grey-400);
  --ea-collapse-item-title-font-weight: var(--font-weight-bold);

  --ea-collapse-item-content-height: 0;
  --ea-collapse-item-content-font-size: var(--font-size-md);
  --ea-collapse-item-content-color: var(--grey-900);
  --ea-collapse-item-content-padding-bottom: 12px;

  --ea-collapse-item-transition: var(--transition-normal);
}

:host([active]) {
  .default-expand-icon {
    transform: rotate(0);
  }

  .ea-collapse-item__content {
    padding-bottom: var(--ea-collapse-item-content-padding-bottom);
  }
}

@include block(ea-collapse-item) {
  border-top: var(--ea-collapse-item-border-top);
  border-bottom: var(--ea-collapse-item-border);

  margin: 0 4px;

  @include element(title-wrap) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 2px);

    cursor: pointer;
  }

  @include element(title) {
    flex: 1 0 auto;

    height: var(--ea-collapse-item-title-height);
    line-height: var(--ea-collapse-item-title-height);

    font-size: var(--ea-collapse-item-title-font-size);
    font-weight: var(--ea-collapse-item-title-font-weight);

    color: var(--ea-collapse-item-title-color);
  }

  @include element(indicator) {
    .default-expand-icon {
      transform: rotate(-90deg);

      transition: transform var(--ea-collapse-item-transition);
    }
  }

  @include element(content) {
    will-change: height;
    overflow: hidden;

    height: var(--ea-collapse-item-content-height);
    padding-bottom: 0;

    color: var(--ea-collapse-item-content-color);
    font-size: var(--ea-collapse-item-content-font-size);

    transition:
      height var(--ea-collapse-item-transition),
      padding-bottom var(--ea-collapse-item-transition);
  }

  @include modifier(indicator-left) {
    .ea-collapse-item__title-wrap {
      flex-direction: row-reverse;
    }

    .ea-collapse-item__indicator {
      margin-right: 12px;
    }
  }

  @include state(disabled) {
    .ea-collapse-item__title-wrap {
      cursor: not-allowed;
      color: var(--ea-collapse-item-title-disabled-color);
    }
  }
}
