$name: ea-message-box;
$main: ea-message-box-main;

$types: (
  primary: blue,
  success: green,
  warning: yellow,
  error: red,
  info: grey,
);

:host {
  --#{$name}-padding: var(--spacing-lg);
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-box-shadow: var(--box-shadow-md);

  --#{$name}-title-font-size: var(--font-size-lg);
  --#{$name}-close-icon-size: var(--font-size-lg);
  --#{$name}-content-font-size: var(--font-size-md);

  --#{$name}-title-color: var(--grey-900);
  --#{$name}-close-icon-color: var(--grey-500);
  --#{$name}-content-color: var(--grey-700);

  --#{$name}-section-gap: var(--spacing-lg);

  @each $type, $color in $types {
    --#{$name}-#{$type}-icon-color: var(--#{$color}-500);
  }
}

:host([movable]) {
  -webkit-user-drag: none;
}

@include block($name) {
  box-sizing: border-box;
  padding: var(--#{$name}-padding);
  box-shadow: var(--#{$name}-box-shadow);

  @include modifier(center) {
    .#{$main}__header,
    .#{$main},
    .#{$main}__footer {
      text-align: center;
    }
  }

  @include modifier(draggable) {
    .#{$main}__header {
      cursor: move;
    }
  }

  @include state(close-hidden) {
    .#{$main}__icon-close {
      display: none;
    }
  }

  @include state(cancel-hidden) {
    .#{$main}__icon-close {
      display: none;
    }
  }

  @include state(confirm-hidden) {
    .#{$main}__confirm-button {
      display: none;
    }
  }

  @include state(input-visible) {
    .#{$main}__input {
      display: block;
    }
  }

  @each $type, $color in $types {
    @include modifier($type) {
      .#{$main} {
        .#{$main}__type-icon {
          color: var(--#{$name}-#{$type}-icon-color);
        }
      }
    }
  }
}

@include block($main) {
  background-color: var(--white);
  padding: var(--#{$name}-padding);
  border-radius: var(--#{$name}-border-radius);

  @include element(header) {
    position: relative;
    padding-bottom: var(--#{$name}-section-gap);
  }

  @include element(title) {
    font-size: var(--#{$name}-title-font-size);
    line-height: var(--#{$name}-title-font-size);
    color: var(--#{$name}-title-color);
  }

  @include element(icon-close) {
    position: absolute;
    right: 0;
    top: 0;

    cursor: pointer;
    color: var(--#{$name}-close-icon-color);
  }

  @include element(form) {
    font-size: var(--#{$name}-content-font-size);
    line-height: var(--#{$name}-content-font-size);
    color: var(--#{$name}-content-color);
  }

  @include element(description) {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  @include element(input) {
    padding-top: var(--#{$name}-section-gap);
    display: none;
  }

  @include element(footer) {
    padding-top: var(--#{$name}-section-gap);
    text-align: right;

    ea-button {
      margin: 0 0.25rem;
    }

    ea-button:last-child {
      margin: 0;
    }
  }
}

@include block(ea-overlay) {
  @include element(mask) {
    box-sizing: border-box;
    padding: var(--#{$name}-padding);
  }
}
