:host {
  --cursor-type: pointer;
  --font-size: var(--font-size-md);
  --ea-button-border-radius: var(--border-radius-sm);

  /* === 公共变量 === */
  --ea-button-text: var(--ea-button-normal-text);
  --ea-button-bg: var(--ea-button-normal-background);
  --ea-button-border-color: var(--ea-button-normal-border);
  --ea-button-text-hover: var(--ea-button-primary-600);
  --ea-button-bg-hover: var(--ea-button-primary-100);
  --ea-button-border-color-hover: var(--ea-button-primary-100);
  --ea-button-text-active: var(--ea-button-primary-700);
  --ea-button-border-color-active: var(--ea-button-primary-700);
  --ea-button-text-disabled: var(--ea-button-normal-text-disabled);
  --ea-button-bg-disabled: var(--ea-button-normal-background-disabled);
  --ea-button-border-color-disabled: var(--ea-button-normal-border);

  /* === Normal === */
  --ea-button-normal-text: var(--grey-900);
  --ea-button-normal-background: var(--color-white);
  --ea-button-normal-500: var(--color-white);
  --ea-button-normal-border: var(--grey-300);
  --ea-button-normal-text-disabled: var(--grey-400);
  --ea-button-normal-background-disabled: var(--grey-100);

  /* === Primary（Blue）=== */
  --ea-button-primary-100: #d9ecff;
  --ea-button-primary-300: #a0cfff;
  --ea-button-primary-500: var(--color-blue);
  --ea-button-primary-600: #66b1ff;
  --ea-button-primary-700: #3a8ee6;
  --ea-button-primary-text: #ffffff;
  --ea-button-primary-disabled: var(--ea-button-primary-300);
  --ea-button-primary-text-disabled: #ffffff;

  /* === Success（Green）=== */
  --ea-button-success-100: #e1f3d8;
  --ea-button-success-300: #b3e19d;
  --ea-button-success-500: var(--color-green);
  --ea-button-success-600: #85ce61;
  --ea-button-success-700: #5daf34;
  --ea-button-success-text: #ffffff;
  --ea-button-success-disabled: var(--ea-button-success-300);
  --ea-button-success-text-disabled: #ffffff;

  /* === Info（Muted）=== */
  --ea-button-info-100: #e9e9eb;
  --ea-button-info-300: #d3d4d6;
  --ea-button-info-500: var(--color-info);
  --ea-button-info-600: #a6a9b3;
  --ea-button-info-700: #82848a;
  --ea-button-info-text: #ffffff;

  /* === Warning（Yellow）=== */
  --ea-button-warning-100: #fdf6ec;
  --ea-button-warning-300: #f3d19e;
  --ea-button-warning-500: var(--color-yellow);
  --ea-button-warning-600: #ebb563;
  --ea-button-warning-700: #cf9236;
  --ea-button-warning-text: #ffffff;
  --ea-button-warning-disabled: var(--ea-button-warning-300);
  --ea-button-warning-text-disabled: #ffffff;

  /* === Danger（Red）=== */
  --ea-button-danger-100: #fef0f0;
  --ea-button-danger-300: #fab6b6;
  --ea-button-danger-500: var(--color-red);
  --ea-button-danger-600: #f78989;
  --ea-button-danger-700: #dd6161;
  --ea-button-danger-text: #ffffff;
  --ea-button-danger-disabled: var(--ea-button-danger-300);
  --ea-button-danger-text-disabled: #ffffff;
}

:host([disabled]),
:host([loading="true"]) {
  --cursor-type: not-allowed;
}

:host {
  cursor: var(--cursor-type);
  display: inline-block;
}

@mixin button-disabled-type($type) {
  &.ea-button--disabled {
    --cursor-type: not-allowed;
    --ea-button-text: var(--ea-button-text-disabled);
    --ea-button-bg: var(--ea-button-bg-disabled);
    --ea-button-border-color: var(--ea-button-border-color-disabled);

    pointer-events: none;
  }
}

@mixin button-hover-type($type) {
  &:hover {
    --ea-button-text: var(--ea-button-text-hover);
    --ea-button-bg: var(--ea-button-bg-hover);
    --ea-button-border-color: var(--ea-button-border-color-hover);
  }
}

@mixin button-active-type($type) {
  &:active {
    --ea-button-text: var(--ea-button-text-active);
    --ea-button-border-color: var(--ea-button-border-color-active);
  }
}

@mixin button-text-type($type) {
  &.ea-button--text {
    --ea-button-bg: unset;
    --ea-button-border-color: transparent;

    @if ($type =="normal") {
      --ea-button-text: var(--ea-button-normal-text);
      --ea-button-text-hover: var(--ea-button-primary-600);
      --ea-button-text-active: var(--ea-button-primary-700);
      --ea-button-text-disabled: var(--ea-button-info-300);
    }

    @else {
      --ea-button-text: var(--ea-button-#{$type}-500);
      --ea-button-text-hover: var(--ea-button-#{$type}-600);
      --ea-button-text-active: var(--ea-button-#{$type}-700);
      --ea-button-text-disabled: var(--ea-button-#{$type}-300);
    }

    &:hover {
      --ea-button-bg: unset;
      --ea-button-border-color: transparent;
    }

    &.ea-button--disabled {
      --ea-button-bg: unset;
      --ea-button-border-color: transparent;
    }
  }
}

@mixin button-plain-type($type) {
  &.ea-button--plain {
    --ea-button-bg: var(--ea-button-#{$type}-100);

    @if ($type =="normal") {
      --ea-button-text: var(--ea-button-normal-text);
      --ea-button-text-hover: var(--ea-button-primary-500);
      --ea-button-text-active: var(--ea-button-primary-700);
      --ea-button-text-disabled: var(--ea-button-info-300);
    }

    @else {
      --ea-button-text: var(--ea-button-#{$type}-500);
      --ea-button-border-color: var(--ea-button-#{$type}-300);
      --ea-button-text-hover: var(--color-white);
      --ea-button-bg-hover: var(--ea-button-#{$type}-600);
      --ea-button-bg-active: var(--ea-button-#{$type}-700);
      --ea-button-text-disabled: var(--ea-button-#{$type}-300);
    }

    &:hover {
      @if ($type =="normal") {
        --ea-button-text: var(--ea-button-primary-500);
      }

      @else {
        --ea-button-text: var(--color-white);
      }

      --ea-button-bg: var(--ea-button-bg-hover);
    }

    &:active {
      @if ($type =="normal") {
        --ea-button-text: var(--ea-button-primary-700);
      }

      @else {
        --ea-button-bg: var(--ea-button-bg-active);
      }
    }

    &.ea-button--disabled {
      --ea-button-text: var(--ea-button-text-disabled);
    }
  }
}

@mixin button-round-type($type) {
  &.ea-button--round {
    border-radius: var(--border-radius-round);
    padding: var(--spacing-md) var(--spacing-lg);
  }
}

@mixin button-circle-type($type) {
  &.ea-button--circle {
    border-radius: var(--border-radius-circle);
    padding: var(--spacing-md);
  }
}

@mixin button-link-type($type) {
  &.ea-button--link {
    --ea-button-bg: unset;
    --ea-button-border-color: unset;
    padding: 0;
  }
}

@mixin button-size-type() {
  &.ea-button--small {
    --font-size: var(--font-size-sm);
    padding: var(--spacing-sm);
  }

  &.ea-button--large {
    --font-size: var(--font-size-lg);
    padding: var(--spacing-lg);
  }
}

@mixin button-type($type) {
  --ea-button-text: var(--ea-button-#{$type}-text);
  --ea-button-bg: var(--ea-button-#{$type}-500);

  @if ($type =="normal") {
    --ea-button-border-color: var(--ea-button-normal-border);
    --ea-button-text-hover: var(--ea-button-primary-600);
    --ea-button-bg-hover: var(--ea-button-primary-100);
    --ea-button-border-color-hover: var(--ea-button-primary-100);
    --ea-button-text-active: var(--ea-button-primary-700);
    --ea-button-border-color-active: var(--ea-button-primary-700);
    --ea-button-text-disabled: var(--ea-button-normal-text-disabled);
    --ea-button-bg-disabled: var(--ea-button-normal-background-disabled);
    --ea-button-border-color-disabled: var(--ea-button-normal-border);
  }

  @else {
    --ea-button-border-color: var(--ea-button-#{$type}-500);
    --ea-button-text-hover: var(--color-white);
    --ea-button-bg-hover: var(--ea-button-#{$type}-600);
    --ea-button-border-color-hover: var(--ea-button-#{$type}-600);
    --ea-button-bg-active: var(--ea-button-#{$type}-700);
    --ea-button-text-disabled: var(--ea-button-#{$type}-text-disabled);
    --ea-button-bg-disabled: var(--ea-button-#{$type}-disabled);
    --ea-button-border-color-disabled: var(--ea-button-#{$type}-disabled);
  }

  @include button-text-type($type);
  @include button-disabled-type($type);
  @include button-plain-type($type);
  @include button-round-type($type);
  @include button-circle-type($type);
  @include button-link-type($type);
  @include button-size-type;

  @include button-hover-type($type);
  @include button-active-type($type);
}

@include block(ea-button) {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  padding: var(--spacing-md);
  border: 1px solid;
  border-color: var(--ea-button-border-color);
  background-color: var(--ea-button-bg);
  border-radius: var(--ea-button-border-radius);

  cursor: var(--cursor-type);

  color: var(--ea-button-text);
  font-size: var(--font-size);
  line-height: var(--font-size);
  text-decoration: none;

  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);

  will-change: width;

  #ea-loading-icon {
    margin-right: var(--spacing-md);
  }

  @include button-type(normal);

  @include modifier(primary) {
    @include button-type(primary);
  }

  @include modifier(success) {
    @include button-type(success);
  }

  @include modifier(danger) {
    @include button-type(danger);
  }

  @include modifier(warning) {
    @include button-type(warning);
  }

  @include element(icon) {
    display: none;
  }

  @include state(icon) {
    .ea-button__icon {
      display: inline-block;
    }
  }
}