:host {
  --ea-popper-border-color: var(--grey-300);
  --ea-popper-background-color: var(--color-white);
  --ea-popper-box-shadow: var(--box-shadow-md);

  --ea-popper-arrow-size: 10px;
}

:host {
  display: inline-block;
}

@include block(ea-popper) {
  position: relative;

  @include element(reference) {
    position: relative;
  }

  @include element(original) {
    --ea-popper-transform-x: 0;
    --ea-popper-transform-y: 0;
    --ea-popper-transform: translate(
      var(--ea-popper-transform-x),
      var(--ea-popper-transform-y)
    );

    display: none;
    visibility: hidden;

    position: absolute;
    transform: var(--ea-popper-transform);

    padding: var(--spacing-md);
    border: 1px solid var(--ea-popper-border-color);

    background-color: var(--ea-popper-background-color);

    filter: opacity(0);
    transition: filter var(--transition-normal);

    &::after {
      display: none;
      content: "";
      position: absolute;

      width: var(--ea-popper-arrow-size);
      height: var(--ea-popper-arrow-size);

      background-color: var(--ea-popper-background-color);

      border: 1px solid transparent;
    }
  }

  @include modifier(top) {
    &,
    &-start,
    &-end {
      .ea-popper__original {
        top: 0;
        --ea-popper-transform-y: calc(-100% - 10px);

        &::after {
          top: calc(100% - 5px);
          transform: translateX(-50%) rotate(45deg);

          border-bottom-color: var(--ea-popper-border-color);
          border-right-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .ea-popper__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .ea-popper__original {
      left: 50%;
      --ea-popper-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .ea-popper__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(bottom) {
    &,
    &-start,
    &-end {
      .ea-popper__original {
        bottom: 0;
        --ea-popper-transform-y: calc(100% + 10px);

        &::after {
          bottom: calc(100% - 5px);
          transform: translateX(-50%) rotate(45deg);

          border-top-color: var(--ea-popper-border-color);
          border-left-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .ea-popper__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .ea-popper__original {
      left: 50%;
      --ea-popper-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .ea-popper__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(right) {
    &,
    &-start,
    &-end {
      .ea-popper__original {
        right: 0;
        --ea-popper-transform-x: calc(100% + 10px);

        &::after {
          right: calc(100% - 5px);
          transform: translateY(-50%) rotate(45deg);

          border-bottom-color: var(--ea-popper-border-color);
          border-left-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .ea-popper__original {
        --ea-popper-transform-y: 0;
        top: 0;

        &::after {
          top: 25%;
        }
      }
    }

    .ea-popper__original {
      --ea-popper-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .ea-popper__original {
        --ea-popper-transform-y: -100%;
        top: 100%;

        &::after {
          top: 75%;
        }
      }
    }
  }

  @include modifier(left) {
    &,
    &-start,
    &-end {
      .ea-popper__original {
        left: 0;
        --ea-popper-transform-x: calc(-100% - 10px);

        &::after {
          left: 100%;
          transform: translate(-50%, -50%) rotate(45deg);

          border-top-color: var(--ea-popper-border-color);
          border-right-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .ea-popper__original {
        --ea-popper-transform-y: 0;
        top: 0;

        &::after {
          top: 25%;
        }
      }
    }

    .ea-popper__original {
      --ea-popper-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .ea-popper__original {
        --ea-popper-transform-y: -100%;
        top: 100%;

        &::after {
          top: 75%;
        }
      }
    }
  }

  @include modifier(show-arrow) {
    .ea-popper__original::after {
      display: block;
    }
  }

  @include modifier(show) {
    .ea-popper__original {
      display: block;
    }
  }

  @include modifier(is-show) {
    .ea-popper__original {
      visibility: visible;
      filter: opacity(1);
    }
  }

  @include modifier(before-hide) {
    .ea-popper__original {
      filter: opacity(0);
    }
  }

  @include modifier(flip) {
    .ea-popper__original {
      filter: opacity(1);
      visibility: visible;
    }
  }
}
