$name: ea-popper;

:host {
  --#{$name}-border-color: var(--grey-300);
  --#{$name}-background-color: var(--color-white);
  --#{$name}-box-shadow: var(--box-shadow-md);

  --#{$name}-arrow-size: 10px;

  --#{$name}-spacing: var(--spacing-md);
  --#{$name}-width: 150px;

  --#{$name}-transform-x: 0;
  --#{$name}-transform-y: 0;

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

@include block($name) {
  position: relative;

  @include element(reference) {
    position: relative;
  }

  @include element(original) {
    --#{$name}-transform: translate(var(--#{$name}-transform-x),
        var(--#{$name}-transform-y));

    display: none;
    visibility: hidden;

    position: absolute;
    transform: var(--#{$name}-transform);

    box-sizing: border-box;
    padding: var(--#{$name}-spacing);
    border: var(--border-width) solid var(--#{$name}-border-color);

    min-width: var(--#{$name}-width);

    background-color: var(--#{$name}-background-color);

    filter: opacity(0);
    transition: filter var(--#{$name}-transition);

    &::after {
      display: none;
      content: "";
      position: absolute;

      width: var(--#{$name}-arrow-size);
      height: var(--#{$name}-arrow-size);

      background-color: var(--#{$name}-background-color);

      border: var(--border-width) solid transparent;
    }
  }

  @include modifier(top) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        top: 0;
        --#{$name}-transform-y: calc(-100% - var(--#{$name}-arrow-size));

        &::after {
          top: calc(100% - var(--#{$name}-arrow-size) * 0.707 + 0.5px);
          transform: translateX(-50%) rotate(45deg);

          border-bottom-color: var(--#{$name}-border-color);
          border-right-color: var(--#{$name}-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .#{$name}__original {
      left: 50%;
      --#{$name}-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(bottom) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        bottom: 0;
        --#{$name}-transform-y: calc(100% + var(--#{$name}-arrow-size));

        &::after {
          bottom: calc(100% - var(--#{$name}-arrow-size) * 0.707 + 0.5px);
          transform: translateX(-50%) rotate(45deg);

          border-top-color: var(--#{$name}-border-color);
          border-left-color: var(--#{$name}-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .#{$name}__original {
      left: 50%;
      --#{$name}-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(right) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        right: 0;
        --#{$name}-transform-x: calc(100% + var(--#{$name}-arrow-size));

        &::after {
          right: calc(100% - var(--#{$name}-arrow-size) * 0.707 + 0.5px);
          transform: translateY(-50%) rotate(45deg);

          border-bottom-color: var(--#{$name}-border-color);
          border-left-color: var(--#{$name}-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        --#{$name}-transform-y: 0;
        top: 0;

        &::after {
          transform: translateY(-25%) rotate(45deg);
          top: 25%;
        }
      }
    }

    .#{$name}__original {
      --#{$name}-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        --#{$name}-transform-y: -100%;
        top: 100%;

        &::after {
          transform: translateY(-75%) rotate(45deg);
          top: 75%;
        }
      }
    }
  }

  @include modifier(left) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        left: 0;
        --#{$name}-transform-x: calc(-100% - var(--#{$name}-arrow-size));

        &::after {
          left: 100%;
          transform: translate(-50%, -50%) rotate(45deg);

          border-top-color: var(--#{$name}-border-color);
          border-right-color: var(--#{$name}-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        --#{$name}-transform-y: 0;
        top: 0;

        &::after {
          top: 25%;
          transform: translate(-50%, -25%) rotate(45deg);
        }
      }
    }

    .#{$name}__original {
      --#{$name}-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        --#{$name}-transform-y: -100%;
        top: 100%;

        &::after {
          top: 75%;
          transform: translate(-50%, -75%) rotate(45deg);
        }
      }
    }
  }

  @include state(show-arrow) {
    .#{$name}__original::after {
      display: block;
    }
  }

  @include state(before-show) {
    .#{$name}__original {
      display: block;
    }
  }

  @include state(show) {
    .#{$name}__original {
      display: block;
      visibility: visible;
      filter: opacity(1);
    }
  }

  @include state(before-hide) {
    .#{$name}__original {
      filter: opacity(0);
    }
  }
}
