$name: ea-popper;

:host {
  --ea-popper-border-color: var(--grey-300);
  --ea-popper-background-color: var(--color-white);
  --ea-popper-box-shadow: var(--box-shadow-md);

  --ea-popper-arrow-size: 10px;

  --ea-popper-spacing: var(--spacing-md);
  --ea-popper-width: 150px;

  --ea-popper-transform-x: 0;
  --ea-popper-transform-y: 0;

  --ea-popper-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

@include block($name) {
  position: relative;

  @include element(reference) {
    position: relative;
  }

  @include element(original) {
    --ea-popper-transform: translate(var(--ea-popper-transform-x),
        var(--ea-popper-transform-y));

    display: none;
    visibility: hidden;

    position: absolute;
    transform: var(--ea-popper-transform);

    box-sizing: border-box;
    padding: var(--ea-popper-spacing);
    border: 1px solid var(--ea-popper-border-color);

    min-width: var(--ea-popper-width);

    background-color: var(--ea-popper-background-color);

    filter: opacity(0);
    transition: filter var(--ea-popper-transition);

    &::after {
      display: none;
      content: "";
      position: absolute;

      width: var(--ea-popper-arrow-size);
      height: var(--ea-popper-arrow-size);

      background-color: var(--ea-popper-background-color);

      border: 1px solid transparent;
    }
  }

  @include modifier(top) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        top: 0;
        --ea-popper-transform-y: calc(-100% - 10px);

        &::after {
          top: calc(100% - var(--ea-popper-arrow-size) * 0.707 + 0.5px);
          transform: translateX(-50%) rotate(45deg);

          border-bottom-color: var(--ea-popper-border-color);
          border-right-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .#{$name}__original {
      left: 50%;
      --ea-popper-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(bottom) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        bottom: 0;
        --ea-popper-transform-y: calc(100% + 10px);

        &::after {
          bottom: calc(100% - var(--ea-popper-arrow-size) * 0.707 + 0.5px);
          transform: translateX(-50%) rotate(45deg);

          border-top-color: var(--ea-popper-border-color);
          border-left-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        left: 0;

        &::after {
          left: 25%;
        }
      }
    }

    .#{$name}__original {
      left: 50%;
      --ea-popper-transform-x: -50%;

      &::after {
        left: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        right: 0;

        &::after {
          left: 75%;
        }
      }
    }
  }

  @include modifier(right) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        right: 0;
        --ea-popper-transform-x: calc(100% + 10px);

        &::after {
          right: calc(100% - var(--ea-popper-arrow-size) * 0.707 + 0.5px);
          transform: translateY(-50%) rotate(45deg);

          border-bottom-color: var(--ea-popper-border-color);
          border-left-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        --ea-popper-transform-y: 0;
        top: 0;

        &::after {
          transform: translateY(-25%) rotate(45deg);
          top: 25%;
        }
      }
    }

    .#{$name}__original {
      --ea-popper-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        --ea-popper-transform-y: -100%;
        top: 100%;

        &::after {
          transform: translateY(-75%) rotate(45deg);
          top: 75%;
        }
      }
    }
  }

  @include modifier(left) {

    &,
    &-start,
    &-end {
      .#{$name}__original {
        left: 0;
        --ea-popper-transform-x: calc(-100% - 10px);

        &::after {
          left: 100%;
          transform: translate(-50%, -50%) rotate(45deg);

          border-top-color: var(--ea-popper-border-color);
          border-right-color: var(--ea-popper-border-color);
        }
      }
    }

    &-start {
      .#{$name}__original {
        --ea-popper-transform-y: 0;
        top: 0;

        &::after {
          top: 25%;
          transform: translate(-50%, -25%) rotate(45deg);
        }
      }
    }

    .#{$name}__original {
      --ea-popper-transform-y: -50%;
      top: 50%;

      &::after {
        top: 50%;
      }
    }

    &-end {
      .#{$name}__original {
        --ea-popper-transform-y: -100%;
        top: 100%;

        &::after {
          top: 75%;
          transform: translate(-50%, -75%) rotate(45deg);
        }
      }
    }
  }

  @include state(show-arrow) {
    .#{$name}__original::after {
      display: block;
    }
  }

  @include state(before-show) {
    .#{$name}__original {
      display: block;
    }
  }

  @include state(show) {
    .#{$name}__original {
      display: block;
      visibility: visible;
      filter: opacity(1);
    }
  }

  @include state(before-hide) {
    .#{$name}__original {
      filter: opacity(0);
    }
  }
}
