@import "../ea-ui-base-style.scss";
@import "../ea-icon/index.scss";
:host {
  --i-color: rgb(247, 186, 42);
}

.ea-rate_wrap {
  --i-color: rgb(247, 186, 42);

  display: flex;
  align-items: center;

  .ea-rate_item {
    cursor: pointer;

    width: 24px;
    height: 24px;

    & > i {
      color: #c0c4cc;
      font-size: 1rem;
      line-height: 1;

      transition: color 0.3s, font-size 0.1s;
    }

    &:hover > i {
      font-size: 1.1rem;
    }

    &.ea-rate_item--active > i {
      color: var(--i-color);
    }
  }

  .ea-rate_text {
    margin-left: 0.25rem;
    min-width: 2rem;

    font-size: 0.8rem;
    line-height: 0.8;

    vertical-align: middle;
  }
}
