$name: ea-dialog;

:host {
  --#{$name}-padding: var(--spacing-lg);
  --#{$name}-padding-primary: var(--spacing-md);
  --#{$name}-box-shadow: var(--box-shadow-md);
  --#{$name}-border-radius: var(--border-radius-sm);

  --#{$name}-heading-font-size: var(--font-size-lg);
  --#{$name}-close-icon-size: var(--font-size-lg);
  --#{$name}-content-font-size: var(--font-size-md);

  --#{$name}-heading-color: var(--grey-900);
  --#{$name}-close-icon-color: var(--grey-500);
  --#{$name}-content-color: var(--grey-700);
  --#{$name}-bg-color: var(--white);

  --ea-overlay-content-max-width: unset;
  --ea-overlay-content-height: auto;
  --ea-overlay-content-width: 50%;
}

:host([movable]) {
  -webkit-user-drag: none;
}

@include block(ea-overlay) {
  @include element(content) {
    max-width: var(--ea-overlay-content-max-width);
    height: var(--ea-overlay-content-height);
    width: var(--ea-overlay-content-width);

    box-sizing: border-box;
    padding: var(--#{$name}-padding);
    border-radius: var(--#{$name}-border-radius);
    box-shadow: var(--#{$name}-box-shadow);
    background-color: var(--#{$name}-bg-color);
  }

  @include state(modal-penetrable) {
    pointer-events: none;

    .ea-overlay__mask {
      display: none;
    }

    .ea-overlay__content {
      pointer-events: all;
    }
  }

  @include state(close-hidden) {
    .ea-dialog__close-icon {
      display: none;
    }
  }
}

@include block($name) {
  @include modifier(center) {

    .ea-dialog__header,
    .ea-dialog__footer {
      text-align: center;
    }
  }

  @include modifier(draggable) {
    .ea-dialog__header {
      cursor: move;
    }
  }

  @include modifier(fullscreen) {
    --ea-overlay-content-width: 100%;
    --ea-overlay-content-height: 100%;

    .ea-dialog {
      width: 100%;
      height: 100%;
    }
  }
}

@include block($name) {
  display: flex;
  flex-direction: column;

  @include element(header) {
    position: relative;
    padding-bottom: var(--#{$name}-padding-primary);
  }

  @include element(heading) {
    font-size: var(--#{$name}-heading-font-size);
    line-height: var(--#{$name}-heading-font-size);
    color: var(--#{$name}-heading-color);
  }

  @include element(close-icon) {
    position: absolute;
    right: 0;
    top: 0;

    cursor: pointer;
    color: var(--#{$name}-close-icon-color);
  }

  @include element(content) {
    flex: 1 0 auto;

    font-size: var(--#{$name}-content-font-size);
    line-height: var(--#{$name}-content-font-size);
    color: var(--#{$name}-content-color);
  }

  @include element(footer) {
    padding-top: var(--#{$name}-padding-primary);
    text-align: right;

    ea-button {
      margin: 0 0.25rem;
    }

    ea-button:last-child {
      margin: 0;
    }
  }
}