$name: ea-menu-item;

:host {
  --#{$name}-spacing: 20px;

  --#{$name}-height: 56px;

  --#{$name}-font-size: var(--font-size-md);

  --#{$name}-bg-color: var(--color-white);
  --#{$name}-border-color: var(--blue-500);
  --#{$name}-active-text-color: var(--blue-500);
  --#{$name}-active-bg-color: var(--blue-100);

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: block;
}

@include block($name) {
  position: relative;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 var(--#{$name}-spacing);
  border-bottom: 2px solid transparent;

  height: var(--#{$name}-height);
  line-height: var(--#{$name}-height);

  font-size: var(--#{$name}-font-size);
  color: var(--ea-menu-text-color);
  cursor: pointer;
  white-space: nowrap;

  transition: border-color var(--#{$name}-transition),
    background-color var(--#{$name}-transition),
    color var(--#{$name}-transition);

  &:hover {
    color: var(--ea-menu-active-text-color);
    background-color: var(--ea-menu-hover-bg-color);
  }

  @include state(active) {
    color: var(--ea-menu-active-text-color);

    border-bottom-color: var(--ea-menu-active-text-color);
  }
}
