$name: ea-skeleton;

:host {
  --#{$name}-transition: var(--transition-fast);
}

:host {
  display: block;
  width: 100%;
}

@include block($name) {
  @include element(template) {
    display: none;

    ea-skeleton-item[variant="p"]:first-child {
      width: 33%;
      display: block;
    }

    ea-skeleton-item[variant="p"]:last-child {
      width: 66%;
      margin-bottom: 0;
      display: block;
    }
  }

  @include state(loading) {
    .#{$name}__template {
      display: block;
    }

    .#{$name}__default {
      display: none;
    }
  }
}
