$name: ea-tour;

:host {
  --#{$name}-transition: var(--transition-normal);
}

:host {
  position: fixed;
  inset: 0px;
  z-index: 2001;
  pointer-events: none;
}

::slotted(ea-tour-step:first-child) {
  --previous-button-visible: none;
}

::slotted(ea-tour-step:last-child) {
  --next-button-visible: none;
  --finish-button-visible: block;
}

@include block($name) {
  width: 100%;
  height: 100%;

  pointer-events: none;
  display: none;

  @include element(svg) {
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include element(mask) {
    width: 100%;
    height: 100%;

    fill: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  @include element(hollow) {
    transition: x var(--#{$name}-transition), y var(--#{$name}-transition),
      width var(--#{$name}-transition), height var(--#{$name}-transition);
  }

  @include element(divider) {
    pointer-events: auto;
    fill: transparent;
  }

  @include element(content) {
    display: none;
    pointer-events: auto;
  }

  @include state(visible) {
    display: block;

    .ea-tour__svg {
      display: block;
    }

    & + .ea-tour__content {
      display: block;
    }
  }
}
