$name: ea-calendar;

:host {
}

@include block($name) {
  @include element(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include element(controller-group) {
    display: flex;
    align-items: center;
  }

  @include element(controller-year) {
    width: 120px;
    margin-right: 8px;
  }

  @include element(controller-month) {
    width: 80px;
    margin-right: 8px;
  }

  @include element(day) {
    &.is-today {
      background-color: skyblue;
    }
  }
}
