@import "../ea-ui-base-style.scss";
@import "../ea-icon/index.scss";

.ea-carousel_wrap {
  position: relative;

  &.ea-carousel--horizontal {
    overflow-x: hidden;
  }

  .ea-carousel_container {
    position: relative;

    text-align: center;
    height: 300px;
  }
}

.ea-carousel-item_wrap {
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
  z-index: 0;
}
