$size-type: (
  small: 24px,
  default: 40px,
  large: 56px,
);

:host {
  @each $size-name, $size in $size-type {
    --ea-avatar-size-#{$size-name}: #{$size};
  }
  --ea-avatar-size: var(--ea-avatar-size-default);
  --ea-avatar-fit: cover;
}

:host {
  display: inline-block;
}

@include block(ea-avatar) {
  background-color: grey;
  color: #ffffff;

  @include modifier(circle) {
    border-radius: 50%;
  }

  @include modifier(square) {
    border-radius: 5px;
  }
}
