$name: ea-check-tag;

$check-tag-variant: (
  "primary": blue,
  "success": green,
  "warning": yellow,
  "danger": red,
  "info": grey,
);

:host {
  --#{$name}-spacing: 4px 12px;
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-font-size: var(--font-size-lg);
  --#{$name}-transition: var(--transition-normal);

  @each $variant, $color in $check-tag-variant {
    --#{$name}-#{$variant}-bg-color: var(--#{$color}-100);
    --#{$name}-#{$variant}-text-color: var(--#{$color}-500);
    --#{$name}-#{$variant}-hover-bg-color: var(--#{$color}-200);
    --#{$name}-#{$variant}-disabled-bg-color: var(--#{$color}-200);
  }

  --#{$name}-disabled-text-color: var(--grey-400);
  --#{$name}-info-checked-bg-color: var(--grey-200);

  display: inline-block;
}

:host([disabled]) {
  cursor: not-allowed;
}

@include block($name) {
  box-sizing: border-box;
  padding: var(--#{$name}-spacing);
  border-radius: var(--#{$name}-border-radius);

  background-color: var(--#{$name}-info-bg-color);
  color: var(--#{$name}-info-text-color);
  cursor: pointer;

  font-weight: 600;
  font-size: var(--#{$name}-font-size);

  transition: background-color var(--#{$name}-transition);

  &:hover {
    background-color: var(--#{$name}-info-hover-bg-color);
  }

  @include state(disabled) {
    pointer-events: none;
    color: var(--#{$name}-disabled-text-color);
    background-color: var(--#{$name}-info-bg-color);

    &:hover {
      background-color: var(--#{$name}-info-bg-color);
    }
  }

  @each $variant, $color in $check-tag-variant {
    @include modifier($variant) {
      color: var(--#{$name}-#{$variant}-text-color);

      @if ($variant == "info") {
        background-color: var(--#{$name}-info-checked-bg-color);
      } @else {
        background-color: var(--#{$name}-#{$variant}-bg-color);
      }

      border-color: var(--#{$name}-#{$variant}-bg-color);

      &:hover {
        background-color: var(--#{$name}-#{$variant}-hover-bg-color);
      }

      &.is-disabled {
        @if ($variant != "info") {
          background-color: var(--#{$name}-#{$variant}-disabled-bg-color);
        }
      }
    }
  }
}
