$name: ea-tabs;

:host {
  --#{$name}-tab-spacing: var(--spacing-lg);
  --#{$name}-border-color: var(--grey-300);

  --#{$name}-nav-height: 40px;

  --#{$name}-border-card-bg-color: var(--grey-100);

  --#{$name}-content-spacing: 15px;

  --#{$name}-indicator-color: var(--blue-500);
  --#{$name}-indicator-size: 0;
  --#{$name}-indicator-x: 0;

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: block;
}

@include block($name) {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;

  @include element(nav) {
    position: relative;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: row;

    overflow: auto;
    scrollbar-width: none;

    height: var(--#{$name}-nav-height);
    line-height: var(--#{$name}-nav-height);
  }

  @include element(scroll) {
    display: none;

    position: sticky;
    height: var(--#{$name}-nav-height);
    line-height: var(--#{$name}-nav-height);

    cursor: pointer;

    background-color: var(--color-white);
  }

  @include element(prev) {
    left: 0;
  }

  @include element(next) {
    right: 0;
  }

  @include element(line) {
    position: relative;

    height: 2px;
    width: 100%;

    background-color: var(--#{$name}-border-color);
  }

  @include element(indicator) {
    position: absolute;

    display: block;
    height: 100%;

    width: var(--#{$name}-indicator-size);

    background-color: var(--#{$name}-indicator-color);

    transition: transform var(--#{$name}-transition);
  }

  @include element(content) {
    box-sizing: border-box;

    padding: var(--#{$name}-content-spacing);

    width: 100%;
  }

  @include modifier(card) {
    .#{$name}__line {
      display: none;
    }

    .#{$name}__nav::after {
      content: "";
      position: relative;

      margin-top: auto;

      width: 100%;
      height: 1px;

      background-color: var(--#{$name}-border-color);
    }

    &.#{$name}--right,
    &.#{$name}--left {
      .#{$name}__nav::after {
        width: 1px;
        height: 100%;
      }
    }

    &.#{$name}--left {
      .#{$name}__nav::after {
        margin-left: auto;
      }
    }
  }

  @include modifier(border-card) {
    border: 1px solid var(--#{$name}-border-color);

    .#{$name}__line {
      display: none;
    }

    .#{$name}__nav {
      background-color: var(--#{$name}-border-card-bg-color);
    }

    .#{$name}__nav::after {
      content: "";
      position: relative;

      margin-top: auto;

      width: 100%;
      height: 1px;

      background-color: var(--#{$name}-border-color);
    }

    &.#{$name}--right,
    &.#{$name}--left {
      .#{$name}__nav::after {
        width: 1px;
        height: 100%;
      }
    }

    &.#{$name}--left {
      .#{$name}__nav::after {
        margin-left: auto;
      }
    }
  }

  @include modifier(top) {
    flex-direction: column;

    .#{$name}__indicator {
      transform: translateX(var(--#{$name}-indicator-x));
    }
  }

  @include modifier(bottom) {
    flex-direction: column-reverse;

    .#{$name}__indicator {
      transform: translateX(var(--#{$name}-indicator-x));
    }

    .#{$name}__content {
      order: 3;
    }

    .#{$name}__nav {
      order: 2;
    }

    .#{$name}__line {
      order: 1;
    }
  }

  @include modifier(left) {
    flex-direction: row;

    align-items: stretch;

    .#{$name}__nav {
      flex-direction: column;
      align-items: stretch;
      height: auto;
    }

    .#{$name}__line {
      height: auto;
      width: 2px;
    }

    .#{$name}__indicator {
      height: var(--#{$name}-indicator-size);
      width: 2px;

      transform: translateY(var(--#{$name}-indicator-x));
    }
  }

  @include modifier(right) {
    flex-direction: row-reverse;

    align-items: stretch;

    .#{$name}__nav {
      flex-direction: column;
      align-items: stretch;
      height: auto;
    }

    .#{$name}__line {
      height: auto;
      width: 2px;
    }

    .#{$name}__indicator {
      height: var(--#{$name}-indicator-size);
      width: 2px;

      transform: translateY(var(--#{$name}-indicator-x));
    }
  }

  @include state(overflow) {
    &.#{$name}--bottom,
    &.#{$name}--top {
      .#{$name}__scroll {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}
