:host {
  --ea-collapse-item-border-top: none;

  --ea-collapse-item-height: 0;
}

@include block(ea-collapse-item) {
  border-top: var(--ea-collapse-item-border-top);
  border-bottom: 1px solid #ebeef5;

  @include element(title-wrap) {
    position: relative;
  }

  @include element(title) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    line-height: 48px;

    font-size: 13px;
    font-weight: 700;
    color: #303133;

    cursor: pointer;
  }

  @include element(indicator) {
    // width: 0.35rem;
    // height: 0.35rem;

    // margin-right: 1rem;

    // border: 3px solid #9ca0a5;
    // border-left-color: transparent;
    // border-top-color: transparent;

    // rotate: -45deg;
    // transition: rotate 0.3s;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    ea-icon {
      color: #9ca0a5;
    }
  }

  @include element(content) {
    will-change: height;
    overflow: hidden;

    height: var(--ea-collapse-item-height);
    padding-bottom: 0;

    transition: height 0.3s, padding-bottom 0.3s;
    font-size: 13px;
    color: #303133;
  }
}
