$name: ea-header;

:host {
  --#{$name}-height: 60px;
  --#{$name}-padding: 0 20px;
}

:host {
  display: block;
}

@include block($name) {
  box-sizing: border-box;
  padding: var(--#{$name}-padding);

  height: var(--#{$name}-height);
  line-height: var(--#{$name}-height);
}
