$directions: (
  ltr: (
    left: 0,
    y: 0,
  ),
  rtl: (
    right: 0,
    y: 0,
  ),
  ttb: (
    top: 0,
    x: 0,
  ),
  btt: (
    bottom: 0,
    x: 0,
  ),
);

:host {
  --ea-overlay-content-left: unset;
  --ea-overlay-content-top: unset;
  --ea-overlay-content-height: auto;
}

:host {
  --ea-drawer-x: 0;
  --ea-drawer-y: 0;
}

@include block(ea-drawer-main) {
  background-color: white;
}

@include block(ea-overlay) {
  @include element(mask) {
    box-sizing: border-box;
    padding: var(--ea-message-padding);
  }

  @each $direction, $options in $directions {
    @include element(content) {
      .ea-drawer--#{$direction} {
        @if ($direction == ltr or $direction == rtl) {
          left: var(--ea-drawer-x);
        } @else {
          top: var(--ea-drawer-y);
        }
      }
    }
  }
}
