$size-type: (
  small: 24px,
  default: 40px,
  large: 56px,
);

:host {
  @each $size-name, $size in $size-type {
    --ea-avatar-size-#{$size-name}: #{$size};
  }
  --ea-avatar-size: var(--ea-avatar-size-default);
  --ea-avatar-square-border-radius: 4px;
  --ea-avatar-circle-border-radius: 50%;

  --ea-avatar-fit: cover;

  --ea-avatar-color: var(--color-white);
  --ea-avatar-font-size: var(--font-size-md);
  --ea-avatar-background-color: var(--grey-400);
}

:host {
  display: inline-block;
}

@include block(ea-avatar) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: var(--ea-avatar-size);
  height: var(--ea-avatar-size);
  line-height: var(--ea-avatar-size);

  background-color: var(--ea-avatar-background-color);
  color: var(--ea-avatar-color);
  font-size: var(--ea-avatar-font-size);

  @include element(img) {
    width: 100%;
    height: 100%;

    object-fit: var(--ea-avatar-fit);
  }

  @include element(icon) {
    color: var(--ea-avatar-color);
  }

  @include modifier(circle) {
    border-radius: 50%;

    overflow: hidden;
  }

  @include modifier(square) {
    border-radius: var(--ea-avatar-square-border-radius);
  }
}
