@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-alert_wrap {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}
.ea-alert_wrap .ea-alert_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ea-alert_wrap .ea-alert_content .ea-alert_close-icon {
  color: #c0c4cc;
  cursor: pointer;
}
.ea-alert_wrap.ea-alert--success {
  background-color: #f0f9eb;
  color: #67c23a;
}
.ea-alert_wrap.ea-alert--success.ea-alert--dark {
  color: #fff;
  background-color: #67c23a;
}
.ea-alert_wrap.ea-alert--success.ea-alert--dark .ea-alert_close-icon {
  color: #fff;
}
.ea-alert_wrap.ea-alert--info {
  background-color: #f4f4f5;
  color: #909399;
}
.ea-alert_wrap.ea-alert--info.ea-alert--dark {
  color: #fff;
  background-color: #909399;
}
.ea-alert_wrap.ea-alert--info.ea-alert--dark .ea-alert_close-icon {
  color: #fff;
}
.ea-alert_wrap.ea-alert--warning {
  background-color: #fdf6ec;
  color: #e6a23c;
}
.ea-alert_wrap.ea-alert--warning.ea-alert--dark {
  color: #fff;
  background-color: #e6a23c;
}
.ea-alert_wrap.ea-alert--warning.ea-alert--dark .ea-alert_close-icon {
  color: #fff;
}
.ea-alert_wrap.ea-alert--error {
  background-color: #fef0f0;
  color: #f56c6c;
}
.ea-alert_wrap.ea-alert--error.ea-alert--dark {
  color: #fff;
  background-color: #f56c6c;
}
.ea-alert_wrap.ea-alert--error.ea-alert--dark .ea-alert_close-icon {
  color: #fff;
}