$name: ea-overlay;

:host {
  --#{$name}-z-index: 3000;
  --#{$name}-background-color: rgba(0, 0, 0, 0.4);
  --#{$name}-content-width: 50%;
  --#{$name}-content-max-width: none;
  --#{$name}-content-height: 50%;
  --#{$name}-transition: var(--transition-normal);
}

:host {
  position: fixed;
  z-index: var(--#{$name}-z-index);
}

@include block($name) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  display: none;
  visibility: hidden;

  z-index: var(--#{$name}-z-index);

  @include element(mask) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: none;
    background: var(--#{$name}-background-color);

    z-index: var(--#{$name}-z-index);

    filter: opacity(0);

    transition: filter var(--#{$name}-transition);
  }

  @include element(content) {
    position: absolute;

    max-width: var(--#{$name}-content-max-width);
    width: var(--#{$name}-content-width);
    height: var(--#{$name}-content-height);

    z-index: calc(var(--#{$name}-z-index) + 1);

    filter: opacity(0);

    transition: filter var(--#{$name}-transition);
  }

  @include modifier(open) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include state(show) {
    visibility: visible;

    .#{$name}__content,
    .#{$name}__mask {
      filter: opacity(1);
    }
  }

  @include state(before-close) {
    visibility: visible;

    .#{$name}__content,
    .#{$name}__mask {
      filter: opacity(0);
    }
  }

  @include state(modal) {
    .#{$name}__mask {
      display: block;
    }
  }
}
