// 默认
$color-default-border: lighten(black, 90);
$color-default-text: black;
$color-default-bgc: transparent;
$color-default-border-hover: transparentize(#a0cfff, 0.6);
$color-default-text-hover: darken(#a0cfff, 20);
$color-default-bgc-hover: transparentize(#a0cfff, 0.95);

// 主要
$color-primary-border: #409eff;
$color-primary-text: #ffffff;
$color-primary-bgc: #409eff;
$color-primary-hover: #a0cfff;
$color-primary-border-hover: lighten(#a0cfff, 1);
$color-primary-text-hover: #ffffff;
$color-primary-bgc-hover: lighten(#a0cfff, 1);

//
$color-success: #67c23a;
$color-info: #909399;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-error: #f56c6c;

@mixin button-type(
  $type,
  $border,
  $text,
  $bgc,
  $border-hover,
  $text-hover,
  $bgc-hover
) {
  &.#{$type} {
    border: 1px solid $border;
    color: $text;
    background-color: $bgc;

    &.disabled {
      cursor: not-allowed !important;
      background-image: none !important;
      background-color: lighten($bgc, 25) !important;
      border-color: lighten($border, 25) !important;
      color: lighten($text, 25) !important;
    }

    &:hover {
      border: 1px solid $border-hover;
      color: $text-hover;
      background-color: $bgc-hover;
    }
  }
}

.__ea-button {
  padding: 0.25rem 1rem;

  cursor: pointer;

  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
  transition: background-color 0.1s, color 0.1s;
  border-radius: 5px;

  @include button-type(
    "normal",
    $color-default-border,
    $color-default-text,
    $color-default-bgc,
    $color-default-border-hover,
    $color-default-text-hover,
    $color-default-bgc-hover
  );

  @include button-type(
    "primary",
    $color-primary-border,
    $color-primary-text,
    $color-primary-bgc,
    $color-primary-border-hover,
    $color-primary-text-hover,
    $color-primary-bgc-hover
  );
}
