$name: ea-carousel;

:host {
  --#{$name}-height: 100%;
  --#{$name}-transform: translateX(0);
  --#{$name}-transition: var(--transition-slow);

  --#{$name}-indicator-x: 50%;
  --#{$name}-indicator-y: 8px;
  --#{$name}-indicator-spacing: var(--spacing-sm);
  --#{$name}-indicator-width: 16px;
  --#{$name}-indicator-height: 4px;
  --#{$name}-indicator-color: rgba(255, 255, 255, 0.4);
  --#{$name}-indicator-outside-color: rgba(208, 208, 208, 0.4);
  --#{$name}-indicator-active-color: var(--grey-400);

  --#{$name}-arrow-x: 8px;
  --#{$name}-arrow-size: 24px;
  --#{$name}-arrow-border-radius: var(--border-radius-circle);
  --#{$name}-arrow-color: rgba(31, 45, 61, 0.11);
  --#{$name}-arrow-hover-color: rgba(31, 45, 61, 0.23);
}

:host {
  display: block;
}

@include block($name) {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: var(--#{$name}-height);

  @include element(content) {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    height: 100%;
    width: 100%;

    transform: var(--#{$name}-transform);
    transition: transform var(--#{$name}-transition);
  }

  @include element(rotation) {
    border: none;

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-circle);
    background-color: var(--#{$name}-arrow-color);
    color: var(--color-white);

    cursor: pointer;
    user-select: none;

    transition: background-color 0.3s;

    &:hover {
      background-color: var(--#{$name}-arrow-hover-color);
    }

    ea-icon {
      color: var(--color-white);
    }
  }

  @include element(arrow) {
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    opacity: 0;

    width: var(--#{$name}-arrow-size);
    height: var(--#{$name}-arrow-size);
    line-height: var(--#{$name}-arrow-size);

    font-size: var(--font-size-md);
    font-weight: 800;
    text-align: center;
    border-radius: var(--#{$name}-arrow-border-radius);
    background-color: var(--#{$name}-arrow-color);
    color: var(--color-white);

    cursor: pointer;
    user-select: none;

    transition:
      background-color 0.3s,
      transform 0.3s,
      opacity 0.3s;

    &.arrow-left {
      left: var(--#{$name}-arrow-x);
      transform: translate(calc(-100% - var(--#{$name}-arrow-x)), -50%);
    }

    &.arrow-right {
      right: var(--#{$name}-arrow-x);
      transform: translate(calc(100% - var(--#{$name}-arrow-x)), -50%);
    }

    &:hover {
      background-color: var(--#{$name}-arrow-hover-color);
    }

    ea-icon {
      color: var(--color-white);
    }
  }

  @include element(indicator-wrap) {
    position: absolute;
    right: var(--#{$name}-indicator-x);
    bottom: var(--#{$name}-indicator-y);
    transform: translateX(50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @include element(indicator) {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: var(--#{$name}-indicator-spacing);

    width: var(--#{$name}-indicator-width);
    height: var(--#{$name}-indicator-height);

    background-color: var(--#{$name}-indicator-color);
    transition: background-color 0.3s;

    &.is-active {
      background-color: var(--#{$name}-indicator-active-color);
    }
  }

  @include modifier(vertical) {
    .#{$name}__arrow {
      display: none;
    }

    .#{$name}__content {
      flex-direction: column;
    }

    .#{$name}__indicator {
      --#{$name}-indicator-width: 4px;
      --#{$name}-indicator-height: 16px;
    }

    .#{$name}__indicator-wrap {
      --#{$name}-indicator-x: 8px;
      --#{$name}-indicator-y: 50%;

      flex-direction: column;
      transform: translateY(50%);
    }
  }

  @include state(arrow-hover) {

    .arrow-left,
    .arrow-right {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  @include state(arrow-always) {

    .arrow-left,
    .arrow-right {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  @include state(outside-indicator) {
    .#{$name}__indicator-wrap {
      position: relative;
      bottom: unset;
      left: unset;
    }

    .#{$name}__indicator {
      background-color: var(--#{$name}-indicator-outside-color);

      &.is-active {
        background-color: var(--#{$name}-indicator-active-color);
      }
    }
  }

  @include state(none-indicator) {
    .#{$name}__indicator-wrap {
      display: none;
    }
  }
}