:host {
  --ea-carousel-height: 100%;

  --ea-carousel-transform: translateX(0);

  --ea-carousel-transition: var(--transition-slow);
}

@include block(ea-carousel) {
  position: relative;
  overflow: hidden;

  height: var(--ea-carousel-height);

  @include element(content) {
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    height: 100%;
    width: 100%;

    transform: var(--ea-carousel-transform);

    text-align: center;
    transition: transform var(--ea-carousel-transition);
  }

  @include element(arrow) {
    position: absolute;
    top: 50%;
    z-index: 1;
    // transform: translateY(-50%);
    // opacity: 0;

    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5;
    font-weight: 800;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, 0.11);
    color: #fff;

    cursor: pointer;
    user-select: none;

    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;

    &.arrow-left {
      left: 0;
      //   transform: translate(-100%, -50%);
    }

    &.arrow-right {
      right: 0;
      //   transform: translate(100%, -50%);
    }

    &:hover {
      background-color: rgba(31, 45, 61, 0.3);
    }
  }

  @include element(indicator-wrap) {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include element(indicator) {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0.25rem;
    transition: background-color 0.3s;

    &.is-active {
      background-color: #fff;
    }
  }
}
