$name: ea-switch;
$ea-switch-size-type: (large, default, small);

:host {
  --#{$name}-large-width: 50px;
  --#{$name}-default-width: 40px;
  --#{$name}-small-width: 30px;

  --#{$name}-large-height: 24px;
  --#{$name}-default-height: 20px;
  --#{$name}-small-height: 16px;

  --#{$name}-indicator-large-size: 20px;
  --#{$name}-indicator-default-size: 16px;
  --#{$name}-indicator-small-size: 12px;

  --#{$name}-large-font-size: 18px;
  --#{$name}-default-font-size: var(--font-size-lg);
  --#{$name}-small-font-size: var(--font-size-md);

  --#{$name}-indicator-color: var(--color-white);
  --#{$name}-indicator-start: 2px;

  --#{$name}-inactive-bg-color: var(--grey-300);
  --#{$name}-inactive-text-color: var(--grey-900);
  --#{$name}-active-bg-color: var(--blue-500);
  --#{$name}-active-text-color: var(--blue-500);

  --#{$name}-disabled-text-color: var(--grey-300);
  --#{$name}-disabled-bg-color: var(--grey-200);
  --#{$name}-disabled-checked-bg-color: var(--blue-300);
  --#{$name}-disabled-checked-text-color: var(--blue-300);

  --#{$name}-border-radius: var(--border-radius-round);
  --#{$name}-space: 0 var(--spacing-md);
}

:host([disabled]) {
  cursor: not-allowed;
}

:host {
  display: inline-block;
}

:host(:invalid) {
  .#{$name}__form-label {
    color: var(--red-500);
  }

  .#{$name}__inner {
    box-shadow: 0 0 0 2px var(--red-500);
  }
}

@include block($name) {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;

  @include element(form-label) {
    display: block;
    padding-bottom: var(--spacing-md);
    font-size: var(--font-size-md);
    color: var(--grey-700);

    &:empty {
      display: none;
    }
  }

  @include element(content) {
    display: flex;
    align-items: center;
    color: var(--#{$name}-inactive-text-color);
  }

  @include element(original) {
    display: none;
  }

  @include element(label-left) {
    color: var(--#{$name}-active-text-color);
    transition: color var(--transition-normal);
  }

  @include element(inner) {
    position: relative;
    margin: var(--#{$name}-space);
    height: var(--#{$name}-default-height);
    line-height: var(--#{$name}-default-height);
    background-color: var(--#{$name}-inactive-bg-color);
    border-radius: var(--#{$name}-border-radius);
    transition: background-color var(--transition-normal);

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: var(--#{$name}-indicator-start);
      top: 50%;
      transform-origin: center center;
      transform: translate(0, -50%);
      width: var(--#{$name}-indicator-default-size);
      height: var(--#{$name}-indicator-default-size);
      border-radius: var(--border-radius-circle);
      background-color: var(--#{$name}-indicator-color);
      z-index: 1;
      transition:
        left var(--transition-normal),
        transform var(--transition-normal);
    }
  }

  @include element(label-right) {
    color: var(--#{$name}-inactive-text-color);
    transition: color var(--transition-normal);
  }

  @each $size in $ea-switch-size-type {
    @include modifier($size) {
      .#{$name}__content {
        font-size: var(--#{$name}-#{$size}-font-size);
      }

      .#{$name}__inner {
        flex: 1 0 var(--#{$name}-#{$size}-width);
        width: var(--#{$name}-#{$size}-width);
        height: var(--#{$name}-#{$size}-height);
        min-width: var(--#{$name}-#{$size}-width);

        &::after {
          width: var(--#{$name}-indicator-#{$size}-size);
          height: var(--#{$name}-indicator-#{$size}-size);
        }
      }

      &.is-checked {
        .#{$name}__inner::after {
          left: calc(100% - var(--#{$name}-indicator-#{$size}-size) - 2px);
        }
      }
    }
  }

  @include state(checked) {
    .#{$name}__inner {
      background-color: var(--#{$name}-active-bg-color);
    }

    .#{$name}__label-left {
      color: var(--#{$name}-inactive-text-color);
    }

    .#{$name}__label-right {
      color: var(--#{$name}-active-text-color);
    }
  }

  @include state(disabled) {
    pointer-events: none;
    color: var(--#{$name}-disabled-text-color);

    .#{$name}__inner {
      background-color: var(--#{$name}-disabled-bg-color);
    }

    .#{$name}__label-left {
      color: var(--#{$name}-disabled-text-color);
    }

    .#{$name}__label-right {
      color: var(--#{$name}-disabled-text-color);
    }

    &.is-checked {
      .#{$name}__inner {
        background-color: var(--#{$name}-disabled-checked-bg-color);
      }

      .#{$name}__label-left {
        color: var(--#{$name}-disabled-text-color);
      }

      .#{$name}__label-right {
        color: var(--#{$name}-disabled-checked-text-color);
      }
    }
  }
}
