$name: ea-popover;

:host {
  --#{$name}-title-color: var(--grey-900);
  --#{$name}-title-font-size: var(--font-size-lg);
  --#{$name}-content-color: var(--grey-700);
  --#{$name}-content-font-size: var(--font-size-md);

  --#{$name}-box-shadow: var(--box-shadow-md);
  --#{$name}-border-radius: var(--border-radius-sm);

  --#{$name}-z-index: 100;
}

@include block(ea-popper) {
  @include element(original) {
    box-shadow: var(--#{$name}-box-shadow);

    border-radius: var(--#{$name}-border-radius);

    z-index: var(--#{$name}-z-index);
  }
}

@include block($name) {
  @include element(title) {
    display: none;

    font-size: var(--#{$name}-title-font-size);
    line-height: var(--#{$name}-title-font-size);
    color: var(--#{$name}-title-color);
    margin-bottom: var(--spacing-lg);
  }

  @include element(content) {
    display: none;

    font-size: var(--#{$name}-content-font-size);
    line-height: var(--#{$name}-content-font-size);
    color: var(--#{$name}-content-color);
  }

  @include state(has-heading) {
    .#{$name}__title {
      display: block;
    }
  }

  @include state(has-content) {
    .#{$name}__content {
      display: block;
    }

    .ea-popper__original slot:not([name]) {
      display: none;
    }
  }
}
