$name: ea-checkbox;
$ea-checkbox-size-type: (large, default, small);

:host {
  --#{$name}-large-size: var(--font-size-lg);
  --#{$name}-large-spacing: var(--spacing-lg);
  --#{$name}-large-font-size: var(--font-size-lg);

  --#{$name}-default-size: var(--font-size-md);
  --#{$name}-default-spacing: var(--spacing-md);
  --#{$name}-default-font-size: var(--font-size-md);

  --#{$name}-small-size: var(--font-size-sm);
  --#{$name}-small-spacing: var(--spacing-sm);
  --#{$name}-small-font-size: var(--font-size-sm);

  --#{$name}-box-spacing: var(--spacing-md);

  --#{$name}-disabled-color: var(--grey-500);

  --#{$name}-box-bg-color: var(--blue-500);
  --#{$name}-box-bg-disabled-color: var(--grey-100);

  --#{$name}-box-border-color: var(--grey-300);
  --#{$name}-box-border-disabled-color: var(--grey-200);
  --#{$name}-box-border-active-color: var(--blue-500);

  --#{$name}-check-color: var(--color-white);
  --#{$name}-check-disabled-color: var(--grey-400);

  --#{$name}-label-color: var(--blue-500);
}

:host([disabled]),
:host([limit-disabled]) {
  cursor: not-allowed;
}

:host(:invalid) {
  .#{$name}__inner {
    border-color: var(--red-500);
    box-shadow: 0 0 0 2px var(--red-200);
  }

  .#{$name}__label {
    color: var(--red-500);
  }
}

@include block($name) {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  padding: var(--#{$name}-default-spacing);

  cursor: pointer;

  user-select: none;

  @include element(original) {
    display: none;
  }

  @include element(inner) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    width: var(--#{$name}-default-size);
    height: var(--#{$name}-default-size);
    line-height: var(--#{$name}-default-size);

    border: 1px solid var(--#{$name}-box-border-color);
    border-radius: 2px;

    margin-right: var(--#{$name}-box-spacing);

    transition: background-color var(--transition-normal);

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
    }
  }

  @include element(label) {
    box-sizing: border-box;
    position: relative;
    display: inline-block;

    font-size: var(--#{$name}-default-font-size);
    height: var(--#{$name}-default-size);
    line-height: var(--#{$name}-default-size);

    white-space: nowrap;
  }

  @each $size in $ea-checkbox-size-type {
    @include modifier($size) {
      padding: var(--#{$name}-#{$size}-spacing);

      .#{$name}__label {
        height: var(--#{$name}-#{$size}-size);
        line-height: var(--#{$name}-#{$size}-size);
        font-size: var(--#{$name}-#{$size}-font-size);
      }

      .#{$name}__inner {
        height: var(--#{$name}-#{$size}-size);
        width: var(--#{$name}-#{$size}-size);
      }
    }
  }

  @include state(focus) {
    .#{$name}__inner {
      border-color: var(--#{$name}-box-border-active-color);
      box-shadow: 0 0 0 2px var(--blue-200);
    }
  }

  @include state(border) {
    border: 1px solid var(--#{$name}-box-border-color);
  }

  @include state(indeterminate) {
    .#{$name}__inner {
      background-color: var(--#{$name}-box-bg-color);

      &::after {
        display: block;

        width: 50%;
        height: 3px;

        transform: translate(-50%, -50%);

        background-color: var(--#{$name}-check-color);
      }
    }
  }

  @include state(checked) {
    .#{$name}__inner {
      background-color: var(--#{$name}-box-bg-color);

      &::after {
        display: block;

        width: 15%;
        height: 35%;

        border: 2px solid transparent;
        border-left-color: var(--#{$name}-check-color);
        border-top-color: var(--#{$name}-check-color);
        border-radius: 2px;

        transform-origin: left top;
        transform: rotate(-135deg) translate(-30%, -40%);

        background-color: unset;
      }
    }

    .#{$name}__label {
      color: var(--#{$name}-label-color);
    }

    &.is-border {
      border-color: var(--#{$name}-box-border-active-color);
    }
  }

  @include state(disabled) {
    pointer-events: none;

    .#{$name}__inner {
      background-color: var(--#{$name}-box-bg-disabled-color);

      &::after {
        border-left-color: var(--#{$name}-check-disabled-color);
        border-top-color: var(--#{$name}-check-disabled-color);
      }
    }

    .#{$name}__label {
      color: var(--#{$name}-disabled-color);
    }

    &.is-border {
      border-color: var(--#{$name}-box-border-disabled-color);
    }
  }

  @include state(limit-disabled) {
    pointer-events: none;

    .#{$name}__inner {
      background-color: var(--#{$name}-box-bg-disabled-color);

      &::after {
        border-left-color: var(--#{$name}-check-disabled-color);
        border-top-color: var(--#{$name}-check-disabled-color);
      }
    }

    .#{$name}__label {
      color: var(--#{$name}-disabled-color);
    }

    &.is-border {
      border-color: var(--#{$name}-box-border-disabled-color);
    }
  }
}
