$name: ea-alert;

$alert-type: (
  primary: blue,
  warning: yellow,
  danger: red,
  info: grey,
  success: green,
);

:host {
  --#{$name}-padding: var(--spacing-md) var(--spacing-lg);
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-transition: var(--transition-normal);

  --#{$name}-icon-margin-right: var(--spacing-md);
  --#{$name}-content-gap: var(--spacing-sm);

  --#{$name}-close-position-top: var(--spacing-lg);
  --#{$name}-close-position-right: 16px;

  --#{$name}-close-icon-size: var(--font-size-lg);
  --#{$name}-close-icon-color: var(--grey-400);

  @each $type, $color in $alert-type {
    --#{$name}-light-#{$type}-bgc: var(--#{$color}-100);
    --#{$name}-light-#{$type}-color: var(--#{$color}-500);
    --#{$name}-dark-#{$type}-bgc: var(--#{$color}-500);
    --#{$name}-dark-#{$type}-color: var(--color-white);
  }
}

:host {
  display: block;
}

@include block($name) {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  align-items: center;
  width: 100%;

  border-radius: var(--#{$name}-border-radius);
  padding: var(--#{$name}-padding);

  filter: opacity(1);

  transition: filter var(--#{$name}-transition);

  @include element(icon-wrap) {
    display: block;
    margin-right: var(--#{$name}-icon-margin-right);
  }

  @include element(content) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: var(--#{$name}-content-gap);
  }

  @include element(heading) {
    display: flex;
    align-items: center;
  }

  @include element(description) {
    margin: 0;
  }

  @include element(close-btn) {
    cursor: pointer;

    display: block;

    position: absolute;
    top: var(--#{$name}-close-position-top);
    right: var(--#{$name}-close-position-right);
  }

  @include element(close-icon) {
    display: block;
    width: var(--#{$name}-close-icon-size);
    height: var(--#{$name}-close-icon-size);
    color: var(--#{$name}-close-icon-color);
  }

  @each $type, $color in $alert-type {
    @include modifier(#{$type}) {
      background-color: var(--#{$name}-light-#{$type}-bgc);
      color: var(--#{$name}-light-#{$type}-color);

      &.#{$name}--dark {
        background-color: var(--#{$name}-dark-#{$type}-bgc);
        color: var(--#{$name}-dark-#{$type}-color);

        .#{$name}__icon {
          color: var(--#{$name}-dark-#{$type}-color);
        }

        .#{$name}__close-icon {
          color: var(--#{$name}-dark-#{$type}-color);
        }
      }

      .#{$name}__icon {
        color: var(--#{$name}-light-#{$type}-color);
      }
    }
  }

  @include state(center) {
    justify-content: center;
  }

  @include state(before-close) {
    filter: opacity(0);
  }

  @include state(hide) {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;

    overflow: hidden;
    visibility: hidden;

    filter: opacity(0);
  }
}