$alert-type: (
  primary: blue,
  warning: yellow,
  error: red,
  info: grey,
  success: green,
);

:host {
  --ea-alert-effect: light;

  --ea-alert-space: var(--spacing-md) var(--spacing-lg);
  --ea-alert-border-radius: var(--border-radius-sm);

  --ea-alert-transition: var(--transition-normal);

  @each $type, $color in $alert-type {
    --ea-alert-light-#{$type}-bgc: var(--#{$color}-100);
    --ea-alert-light-#{$type}-color: var(--#{$color}-500);

    --ea-alert-dark-#{$type}-bgc: var(--#{$color}-500);
  }
  --ea-alert-dark-color: var(--color-white);

  --ea-alert-cloase-icon-position-top: 12px;
  --ea-alert-cloase-icon-position-right: 16px;
}

:host {
  display: block;
}

@include block(ea-alert) {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  align-items: center;
  width: 100%;

  border-radius: var(--ea-alert-border-radius);
  padding: var(--ea-alert-space);

  filter: opacity(1);

  transition: filter var(--ea-alert-transition);

  @include element(icon-wrap) {
    display: block;
    margin-right: 8px;
  }

  @include element(content) {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;

    gap: var(--spacing-sm);
  }

  @include element(heading) {
    display: flex;
    align-items: center;
  }

  @include element(description) {
    margin: 0;
  }

  @include element(close-btn) {
    cursor: pointer;

    display: block;

    position: absolute;
    top: var(--ea-alert-cloase-icon-position-top);
    right: var(--ea-alert-cloase-icon-position-right);
  }

  @include element(close-icon) {
    display: block;
    width: 1rem;
    height: 1rem;
    color: var(--grey-400);
  }

  @each $type, $color in $alert-type {
    @include modifier(#{$type}) {
      background-color: var(--ea-alert-light-#{$type}-bgc);
      color: var(--ea-alert-light-#{$type}-color);

      &.ea-alert--dark {
        background-color: var(--ea-alert-dark-#{$type}-bgc);
        color: var(--ea-alert-dark-color);

        .ea-alert__icon {
          color: var(--ea-alert-dark-#{$type}-color);
        }

        .ea-alert__close-icon {
          color: var(--ea-alert-dark-#{$type}-color);
        }
      }

      .ea-alert__icon {
        color: var(--ea-alert-light-#{$type}-color);
      }
    }
  }

  @include modifier(center) {
    justify-content: center;
  }

  @include modifier(before-close) {
    filter: opacity(0);
  }

  @include modifier(hide) {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;

    overflow: hidden;
    visibility: hidden;

    filter: opacity(0);
  }
}
