$name: ea-radio-group;

:host {
  --#{$name}-gap: var(--spacing-md);

  display: block;
}

:host(:invalid) {
  .#{$name}__form-label {
    color: var(--red-500);
  }
}

@include block($name) {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--#{$name}-gap);

  @include element(form-label) {
    display: block;
    padding-bottom: var(--spacing-md);

    font-size: var(--font-size-md);
    color: var(--grey-700);

    &:empty {
      display: none;
    }
  }
}
