$ea-tag-types: (
  "primary": blue,
  "info": grey,
  "success": green,
  "warning": "yellow",
  "danger": "red",
);

$ea-tag-sizes: (
  "large",
  "default",
  "small"
);

$ea-tag-effect: (
  "plain",
  "dark",
  "light"
);

:host {
  --ea-tag-spacing-small: 0 6px;
  --ea-tag-spacing-default: 2px 8px;
  --ea-tag-spacing-large: 4px 12px;
  --ea-tag-border-radius: var(--border-radius-sm);

  @each $type, $color in $ea-tag-types {
    @each $effect in $ea-tag-effect {
      @if ($effect =="light") {
        --ea-tag-#{$type}-#{$effect}-theme-color: var(--#{$color}-100);
        --ea-tag-#{$type}-#{$effect}-text-color: var(--#{$color}-500);
      }

      @else {
        --ea-tag-#{$type}-#{$effect}-theme-color: var(--#{$color}-500);
      }
    }
  }

  --ea-tag-font-size: var(--font-size-sm);

  --ea-tag-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

@include block(ea-tag) {
  box-sizing: border-box;
  border-radius: var(--ea-tag-border-radius);
  border: 1px solid transparent;

  font-size: var(--ea-tag-font-size);

  @include element(close) {
    display: none;
  }

  @include state(closable) {
    display: flex;
    align-items: center;

    .ea-tag__close {
      display: inline-block;

      margin-left: var(--spacing-sm);
      margin-top: var(--spacing-sm);

      cursor: pointer;
      font-size: var(--ea-tag-font-size);
    }
  }

  @include state(round) {
    border-radius: 999px;
  }

  &.before-close {
    filter: opacity(0);

    transition: filter var(--ea-tag-transition);
  }

  @each $size in $ea-tag-sizes {
    @include modifier(#{$size}-size) {
      padding: var(--ea-tag-spacing-#{$size});
    }
  }

  @each $type, $color in $ea-tag-types {
    @include modifier($type) {
      color: var(--ea-tag-#{$type}-light-text-color);
      background-color: var(--ea-tag-#{$type}-light-theme-color);
      border-color: var(--ea-tag-#{$type}-light-theme-color);

      @each $effect in $ea-tag-effect {
        &.ea-tag--#{$effect} {
          @if ($effect =="dark") {
            color: var(--white);
            background-color: var(--ea-tag-#{$type}-#{$effect}-theme-color);
          }

          @else if($effect =="plain") {
            background-color: var(--color-transparent);
            color: var(--ea-tag-#{$type}-#{$effect}-theme-color);
            border-color: var(--ea-tag-#{$type}-#{$effect}-theme-color);
          }
        }
      }
    }
  }
}