@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-result_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 30px;
}
.ea-result_wrap .ea-result_icon {
  font-size: 3rem;
}
.ea-result_wrap .ea-result_icon i[class=icon-ok-circled] {
  color: #67c23a;
}
.ea-result_wrap .ea-result_icon i[class=icon-cancel-circled] {
  color: #f56c6c;
}
.ea-result_wrap .ea-result_icon i[class=icon-attention-alt] {
  color: #e6a23c;
}
.ea-result_wrap .ea-result_icon i[class=icon-info] {
  color: #909399;
}
.ea-result_wrap .ea-result_title,
.ea-result_wrap .ea-result_subtitle {
  color: #5e6d82;
  font-size: 14px;
}
.ea-result_wrap .ea-result_title {
  margin-top: 20px;
}
.ea-result_wrap .ea-result_subtitle {
  margin-top: 10px;
}
.ea-result_wrap .ea-result_extra {
  margin-top: 30px;
}