$name: ea-table-column;

:host {
  --#{$name}-label-color: var(--grey-900);
  --#{$name}-content-color: var(--grey-700);
  --#{$name}-border-color: var(--grey-200);
  --#{$name}-spacing: var(--spacing-lg) 16px;
  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-label-weight: var(--font-weight-bold);
  --#{$name}-content-weight: var(--font-weight-md);
}

:host {
  display: inline-block;
}

@include block($name) {
  gap: var(--spacing-lg);
  padding: var(--#{$name}-spacing);
  border: 1px solid var(--#{$name}-border-color);

  @include element(label) {
    color: var(--#{$name}-label-color);
    font-weight: var(--#{$name}-label-weight);
    white-space: nowrap;
    vertical-align: middle;
  }

  @include element(content) {
    color: var(--#{$name}-content-color);
    font-weight: var(--#{$name}-content-weight);
    flex: 1;
    vertical-align: middle;
  }
}
