:host {
  --ea-icon-size: var(--font-size-md);
  --ea-icon-color: var(--color-black);
}

:host {
  [part="loading-icon"] {
    color: var(--default-loading-icon-color);
  }

  font-size: var(--ea-icon-size);
  color: var(--ea-icon-color);
}

:host-context(ea-button[type="primary"]),
:host-context(ea-button[type="success"]),
:host-context(ea-button[type="warning"]),
:host-context(ea-button[type="danger"]),
:host-context(ea-button[type="info"]) {
  [part="loading-icon"] {
    --default-loading-icon-color: var(--color-white);
  }
}
