$ea-progress-type: (
  "default": blue,
  "success": green,
  "exception": red,
  "warning": yellow,
);

%progress-base {
  width: var(--ea-progress-size);
  height: var(--ea-progress-size);

  .ea-progress__path,
  .ea-progress__track {
    stroke-width: var(--ea-progress-stroke-width);
    stroke-linecap: round;
    transform-origin: center;
  }

  .ea-progress__path {
    transition:
      stroke-dashoffset 0.3s ease-in-out,
      stroke 0.3s ease-in-out;
    animation: none;
  }

  .ea-progress__percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    min-width: auto;

    width: auto;
    height: auto;

    font-size: 16px;
  }

  .ea-progress__status {
    font-size: 16px;
  }
}

:host {
  --ea-progress-percentage: 0;
  --ea-progress-stroke-width: 8px;

  @each $type, $color in $ea-progress-type {
    --ea-progress-#{$type}-color: var(--#{$color}-500);
  }

  --ea-progress-percentage-color: var(--grey-900);
  --ea-progress-track-color: var(--grey-200);
  --ea-progress-path-color: var(--ea-progress-default-color);

  --ea-progress-size: 126px;

  --ea-progress-animation-duration: 3s;
}

:host([type="circle"]) {
  --ea-progress-stroke-width: 4px;
}

:host {
  display: block;
}

@keyframes indeterminate {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(200%);
  }
}

@keyframes striped-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@include block(ea-progress) {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;

  .ea-progress__track,
  .ea-progress__path {
    height: var(--ea-progress-stroke-width);
    line-height: 1;
    border-radius: 999px;

    transition: width 0.3s ease-in-out;
  }

  @include element(track) {
    width: 100%;
    background-color: var(--ea-progress-track-color);

    overflow: hidden;
  }

  @include element(path) {
    position: relative;

    box-sizing: border-box;

    font-size: 0.8rem;
    text-align: right;

    width: var(--ea-progress-percentage);
    background-color: var(--ea-progress-path-color);

    transition: width 0.3s;
  }

  @include element(percentage) {
    display: none;

    min-width: 50px;

    margin-left: 0.25rem;
    font-size: 0.8rem;

    color: var(--ea-progress-percentage-color);
  }

  @each $type, $color in $ea-progress-type {
    @include modifier($type) {
      --ea-progress-percentage-color: var(--ea-progress-#{$type}-color);
      --ea-progress-path-color: var(--ea-progress-#{$type}-color);
    }
  }

  @include modifier(text-inside) {
    .ea-progress__percentage {
      position: absolute;
      right: 0;
      top: 50%;

      transform: translateY(-50%);

      margin-right: 0.5rem;

      color: white;
    }
  }

  @include modifier(striped) {
    .ea-progress__path {
      background-image: linear-gradient(60deg,
          transparent 40%,
          rgba(0, 0, 0, 0.15) 40%,
          rgba(0, 0, 0, 0.15) 60%,
          transparent 60%);

      background-size: var(--ea-progress-stroke-width);
    }
  }

  @include state(striped-flow) {
    .ea-progress__path {
      animation: striped-flow var(--ea-progress-animation-duration) infinite linear;
    }
  }

  @include state(indeterminate) {
    .ea-progress__path {
      animation: indeterminate var(--ea-progress-animation-duration) infinite ease-in-out;
    }
  }

  &.is-striped-flow.is-indeterminate,
  &.is-indeterminate.is-striped-flow {
    .ea-progress__path {
      animation: indeterminate var(--ea-progress-animation-duration) infinite ease-in-out,
        striped-flow var(--ea-progress-animation-duration) infinite linear;
    }
  }

  @include state(show-text) {
    .ea-progress__percentage {
      display: block;
    }
  }

  @include state(circle) {
    @extend %progress-base;

    .ea-progress__path,
    .ea-progress__track {
      r: calc(49px - var(--ea-progress-stroke-width) / 2);
      transform: rotate(-90deg);
    }

    .ea-progress__track {
      stroke: var(--ea-progress-track-color);
    }

    .ea-progress__path {
      stroke: var(--ea-progress-path-color);
      stroke-dashoffset: var(--ea-progress-percentage);
    }
  }

  @include state(dashboard) {
    @extend %progress-base;

    .ea-progress__path,
    .ea-progress__track {
      r: calc(49px - var(--ea-progress-stroke-width) / 2);
      transform: rotate(135deg);
    }

    .ea-progress__track {
      stroke: var(--ea-progress-track-color);
      stroke-dasharray: 157px;
    }

    .ea-progress__path {
      stroke: var(--ea-progress-path-color);
      stroke-dasharray: 314px;

      stroke-dashoffset: var(--ea-progress-percentage);
    }

    .mask {
      transform-origin: center;
      height: 100%;
      width: 100%;

      transform: rotate(-135deg) translateY(-30%);
    }
  }
}