$directions: (
  ltr: (
    left: 0,
    y: 0,
  ),
  rtl: (
    right: 0,
    y: 0,
  ),
  ttb: (
    top: 0,
    x: 0,
  ),
  btt: (
    bottom: 0,
    x: 0,
  ),
);

:host {
  --ea-overlay-content-left: unset;
  --ea-overlay-content-top: unset;

  --ea-overlay-content-height: auto;
  --ea-overlay-content-width: auto;
}

:host {
  --ea-drawer-x: 0;
  --ea-drawer-y: 0;

  --ea-drawer-size: 30%;
  --ea-drawer-padding-primary: 20px;

  --ea-drawer-color-text: var(--grey-900);
  --ea-drawer-color-text-secondary: var(--grey-500);

  --ea-drawer-header-font-size: var(--font-size-lg);
  --ea-drawer-close-icon-size: 18px;
}

@include block(ea-drawer-main) {
  background-color: white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  @include element(header) {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: var(--ea-drawer-padding-primary);
    padding-bottom: 0;
    margin-bottom: 32px;

    font-size: var(--ea-drawer-header-font-size);
    color: var(--ea-drawer-color-text);
  }

  @include element(close-icon) {
    cursor: pointer;

    font-size: var(--ea-drawer-close-icon-size);
    color: var(--ea-drawer-color-text-secondary);
  }

  @include element(content) {
    flex: 1 0 auto;

    box-sizing: border-box;
    padding: var(--ea-drawer-padding-primary);

    color: var(--ea-drawer-color-text);
  }

  @include element(footer) {
    box-sizing: border-box;
    padding: var(--ea-drawer-padding-primary);
  }
}

@include block(ea-drawer) {
  @each $direction, $options in $directions {
    @include modifier($direction) {
      .ea-overlay__content {
        @if ($direction == ltr or $direction == rtl) {
          --ea-overlay-content-height: 100%;
          --ea-overlay-content-width: var(--ea-drawer-size);

          top: var(--ea-drawer-y);
        } @else {
          --ea-overlay-content-height: var(--ea-drawer-size);
          --ea-overlay-content-width: 100%;

          left: var(--ea-drawer-x);
        }

        @if ($direction == ltr) {
          transform: translate(-100%, 0);
          left: var(--ea-drawer-x);
        }

        @if ($direction == rtl) {
          transform: translate(100%, 0);
          right: var(--ea-drawer-x);
        }

        @if ($direction == ttb) {
          transform: translate(0, -100%);
          top: var(--ea-drawer-y);
        }

        @if ($direction == btt) {
          transform: translate(0, 100%);
          bottom: var(--ea-drawer-y);
        }
      }
    }
  }
}

@include block(ea-overlay) {
  @include element(mask) {
    box-sizing: border-box;
    padding: var(--ea-message-padding);
  }

  @include element(content) {
    width: var(--ea-overlay-content-width);
    height: var(--ea-overlay-content-height);

    transition: all 0.3s;
  }

  @include modifier(is-show) {
    .ea-overlay__content {
      transform: translate(0, 0);
    }
  }

  @include modifier(before-close) {
    @each $direction, $options in $directions {
      &.ea-drawer--#{$direction} {
        .ea-overlay__content {
          @if ($direction == ltr) {
            transform: translate(-100%, 0);
          }

          @if ($direction == rtl) {
            transform: translate(100%, 0);
          }

          @if ($direction == ttb) {
            transform: translate(0, -100%);
          }

          @if ($direction == btt) {
            transform: translate(0, 100%);
          }
        }
      }
    }
  }
}
