$name: ea-drawer-main;
$css-prefix: ea-drawer;

:host {
  --#{$css-prefix}-size: 30%;
  --#{$css-prefix}-padding: var(--spacing-lg);

  --#{$css-prefix}-heading-color: var(--grey-900);
  --#{$css-prefix}-close-icon-color: var(--grey-500);
  --#{$css-prefix}-content-color: var(--grey-700);
  --#{$css-prefix}-bg-color: var(--white);

  --#{$css-prefix}-heading-font-size: var(--font-size-lg);
  --#{$css-prefix}-close-icon-size: var(--font-size-lg);

  --ea-overlay-content-left: unset;
  --ea-overlay-content-top: unset;
  --ea-overlay-content-height: auto;
  --ea-overlay-content-width: auto;
}

@include block($name) {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  @include element(header) {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: var(--#{$css-prefix}-padding);
    padding-bottom: 0;
    margin-bottom: var(--spacing-lg);

    color: var(--#{$css-prefix}-heading-color);
    font-size: var(--#{$css-prefix}-heading-font-size);
  }

  @include element(close-icon) {
    cursor: pointer;

    color: var(--#{$css-prefix}-close-icon-color);
    font-size: var(--#{$css-prefix}-close-icon-size);
  }

  @include element(content) {
    flex: 1 0 auto;

    box-sizing: border-box;
    padding: var(--#{$css-prefix}-padding);

    color: var(--#{$css-prefix}-content-color);
  }

  @include element(footer) {
    box-sizing: border-box;
    padding: var(--#{$css-prefix}-padding);
  }
}

@include block(ea-drawer) {
  @include state(close-hidden) {
    .#{$name}__close-icon {
      display: none;
    }
  }

  @include state(header-hidden) {
    .#{$name}__header {
      display: none;
    }
  }
}

@include block(ea-overlay) {
  @include element(content) {
    background-color: var(--#{$css-prefix}-bg-color);
    filter: opacity(1);
    transition: transform var(--ea-overlay-transition);
  }

  &.ea-drawer--rtl {
    justify-content: flex-end;
    align-items: stretch;

    .ea-overlay__content {
      height: 100%;
      width: var(--#{$css-prefix}-size);
      transform: translate(100%, 0);
    }
  }

  &.ea-drawer--ltr {
    justify-content: flex-start;
    align-items: stretch;

    .ea-overlay__content {
      height: 100%;
      width: var(--#{$css-prefix}-size);
      transform: translate(-100%, 0);
    }
  }

  &.ea-drawer--ttb {
    justify-content: center;
    align-items: flex-start;

    .ea-overlay__content {
      height: var(--#{$css-prefix}-size);
      width: 100%;
      transform: translate(0, -100%);
    }
  }

  &.ea-drawer--btt {
    justify-content: center;
    align-items: flex-end;

    .ea-overlay__content {
      height: var(--#{$css-prefix}-size);
      width: 100%;
      transform: translate(0, 100%);
    }
  }

  @include state(show) {
    .ea-overlay__content {
      filter: opacity(1);
      transform: translate(0, 0);
    }
  }

  @include state(before-close) {
    .ea-overlay__content {
      filter: opacity(1);
    }

    &.ea-drawer--rtl .ea-overlay__content {
      transform: translate(100%, 0);
    }

    &.ea-drawer--ltr .ea-overlay__content {
      transform: translate(-100%, 0);
    }

    &.ea-drawer--ttb .ea-overlay__content {
      transform: translate(0, -100%);
    }

    &.ea-drawer--btt .ea-overlay__content {
      transform: translate(0, 100%);
    }
  }
}