@import "../ea-button/index.scss";

.__ea-button-group {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;

  ::slotted(ea-button:first-of-type) {
    --border-radius: 4px 0 0 4px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  ::slotted(ea-button:last-of-type) {
    --border-radius: 0 4px 4px 0 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }

  ::slotted(:not(ea-button:last-of-type)) {
    --border-radius: 0 0 0 0 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }

  ::slotted(:not(ea-button:first-of-type)) {
    --border-radius: 0 0 0 0 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}
