.ea-table_wrap {
  background-color: #fff;

  .ea-table_main {
    position: relative;

    box-sizing: border-box;
    padding: 12px 0;

    width: 100%;
    min-width: 0;

    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;

    border-collapse: collapse;

    .ea-table__row:hover {
      background-color: #f5f7fa;
    }

    .ea-table__cell {
      border-top: 1px solid #ebeef5;
      border-bottom: 1px solid #ebeef5;

      padding: 8px;
      color: #606266;

      &.th-cell {
        color: #909399;
      }
    }

    &.border {
      .ea-table__cell {
        border: 1px solid #ebeef5;
        padding: 8px;
        color: #606266;
      }
    }
  }
}
