:host {
  --ea-space-direction: row;
  --ea-space-alignment: center;
  --ea-space-wrap: nowrap;

  --ea-space-gap-small: 0.5rem;
  --ea-space-gap-default: 0.75rem;
  --ea-space-gap-large: 1rem;

  --ea-space-gap: var(--ea-space-gap-default);

  --ea-space-fill-ratio: 100%;
}

:host {
  display: block;
  width: 100%;
}

::slotted(*) {
  box-sizing: border-box;
}

@include block(ea-space) {
  display: flex;
  align-items: var(--ea-space-alignment);
  flex-direction: var(--ea-space-direction);
  gap: var(--ea-space-gap);

  flex-wrap: var(--ea-space-wrap);

  @include modifier(horizontal) {
    --ea-space-direction: row;
  }

  @include modifier(vertical) {
    --ea-space-direction: column;
  }

  @include modifier(wrap) {
    --ea-space-wrap: wrap;
  }

  @include modifier(small) {
    --ea-space-gap: var(--ea-space-gap-small);
  }

  @include modifier(large) {
    --ea-space-gap: var(--ea-space-gap-large);
  }

  @include modifier(fill) {
    ::slotted(*) {
      flex-grow: var(--ea-space-fill-ratio);
      min-width: var(--ea-space-fill-ratio);
    }
  }
}