.ea-tab-pane_wrap {
  --border-radius-top-left: 0;
  --border-radius-top-right: 0;
  --border-right-width: 0;
  box-sizing: border-box;
  padding: 0 1.25rem;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  cursor: pointer;
  transition: color 0.3s;
}
.ea-tab-pane_wrap:hover {
  color: #409eff;
}
.ea-tab-pane_wrap.ea-tab-pane_wrap--normal.is-actived {
  color: #409eff;
}
.ea-tab-pane_wrap.ea-tab-pane_wrap--border-card.is-actived {
  color: #409eff;
}
.ea-tab-pane_wrap.ea-tab-pane_wrap--card {
  border-top-left-radius: var(--border-radius-top-left);
  border-top-right-radius: var(--border-radius-top-right);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right-width: var(--border-right-width);
}
.ea-tab-pane_wrap.ea-tab-pane_wrap--card.is-actived {
  border-bottom-color: white;
  color: #409eff;
}