.ea-tab-pane_wrap {
  box-sizing: border-box;
  padding: 0 1.25rem;

  height: 40px;
  line-height: 40px;

  font-size: 14px;
  font-weight: 500;
  color: #303133;

  cursor: pointer;

  &.ea-tab-pane_wrap--border-card {
    // border-bottom: 2px solid;
    // border-color: transparent;

    &.is-actived {
      color: #409eff;
    }
  }

  &.ea-tab-pane_wrap--card {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  }
}
