$name: ea-card;

:host {
  --#{$name}-border-color: var(--grey-200);
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-box-shadow: var(--box-shadow-md);
  --#{$name}-background-color: var(--white);
  --#{$name}-padding: var(--spacing-lg);
  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: block;
}

@include block($name) {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: var(--#{$name}-border-radius);
  border: var(--border-width) solid var(--#{$name}-border-color);
  background-color: var(--#{$name}-background-color);
  transition: box-shadow var(--#{$name}-transition);

  @include element(content) {
    padding: var(--#{$name}-padding);
    height: 100%;
  }

  @include element(header) {
    padding: var(--#{$name}-padding);
    border-bottom: var(--border-width) solid var(--#{$name}-border-color);
  }

  @include element(footer) {
    padding: var(--#{$name}-padding);
    border-top: var(--border-width) solid var(--#{$name}-border-color);
  }

  @include state(hover-shadow) {
    &:hover {
      box-shadow: var(--#{$name}-box-shadow);
    }
  }

  @include state(always-shadow) {
    box-shadow: var(--#{$name}-box-shadow);
  }

  @include state(never-shadow) {
    box-shadow: none;
  }

  @include state(header-empty) {
    .#{$name}__header {
      display: none;
      padding: 0;
    }
  }

  @include state(footer-empty) {
    .#{$name}__footer {
      display: none;
      padding: 0;
    }
  }
}
