$name: ea-input-number;
$ea-input-number-align-type: (left, center, right);
$ea-input-number-size-type: (large, default, small);

@mixin operator-disabled-style {
  cursor: not-allowed;
  color: var(--#{$name}-operator-disabled-color);

  &:hover {
    color: var(--#{$name}-operator-disabled-color);
  }
}

:host {
  --#{$name}-large-width: 180px;
  --#{$name}-default-width: 150px;
  --#{$name}-small-width: 120px;

  --#{$name}-large-height: 40px;
  --#{$name}-default-height: 32px;
  --#{$name}-small-height: 24px;

  --#{$name}-large-font-size: var(--font-size-lg);
  --#{$name}-default-font-size: var(--font-size-md);
  --#{$name}-small-font-size: var(--font-size-sm);

  --#{$name}-border-color: var(--grey-300);
  --#{$name}-text-color: var(--grey-700);

  --#{$name}-operator-color: var(--grey-500);
  --#{$name}-operator-bg-color: var(--grey-100);
  --#{$name}-operator-disabled-color: var(--grey-300);

  --#{$name}-input-disabled-color: var(--grey-400);
  --#{$name}-input-disabled-bg-color: var(--grey-100);

  --#{$name}-active-color: var(--blue-500);

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

:host([disabled]) {
  cursor: not-allowed;
}

@include block($name) {
  box-sizing: border-box;
  user-select: none;

  display: inline-flex;
  align-items: stretch;

  width: calc(var(--#{$name}-default-width) - 2px);

  border: 1px solid var(--#{$name}-border-color);
  border-radius: 4px;

  overflow: hidden;

  transition: border var(--#{$name}-transition);

  @include element(operator) {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0.5rem;

    height: calc(var(--#{$name}-default-height) - 2px);
    line-height: calc(var(--#{$name}-default-height) - 2px);

    color: var(--#{$name}-operator-color);

    background-color: var(--#{$name}-operator-bg-color);

    cursor: pointer;

    &.decrease,
    &.increase {
      &:hover {
        color: var(--#{$name}-active-color);
      }
    }

    &.decrease {
      border-right: 1px solid var(--#{$name}-border-color);
    }

    &.increase {
      border-left: 1px solid var(--#{$name}-border-color);
    }
  }

  @include element(inner) {
    box-sizing: border-box;

    outline: 0;
    border: 0;

    width: 100%;
    height: calc(var(--#{$name}-default-height) - 2px);
    line-height: calc(var(--#{$name}-default-height) - 2px);

    color: var(--#{$name}-text-color);
  }

  @each $align in $ea-input-number-align-type {
    @include modifier($align) {
      .ea-input-number__inner {
        text-align: #{$align};
      }
    }
  }

  @each $size in $ea-input-number-size-type {
    @include modifier($size) {
      width: calc(var(--#{$name}-#{$size}-width) - 2px);

      .ea-input-number__operator,
      .ea-input-number__inner {
        height: calc(var(--#{$name}-#{$size}-height) - 2px);
        line-height: calc(var(--#{$name}-#{$size}-height) - 2px);

        font-size: var(--#{$name}-#{$size}-font-size);
      }
    }
  }

  @include state(focus) {
    border-color: var(--#{$name}-active-color);
  }

  @include state(min) {
    .ea-input-number__operator.decrease {
      @include operator-disabled-style;
    }
  }

  @include state(max) {
    .ea-input-number__operator.increase {
      @include operator-disabled-style;
    }
  }

  @include state(disabled) {
    pointer-events: none;

    .ea-input-number__operator {
      @include operator-disabled-style;
    }

    .ea-input-number__inner {
      color: var(--#{$name}-input-disabled-color);
      background-color: var(--#{$name}-input-disabled-bg-color);
    }
  }

  @include state(no-controls) {
    display: inline-block;

    .ea-input-number__operator {
      display: none;
    }
  }
}
