:host {
  --ea-table-cell-spacing: var(--spacing-md);

  --ea-table-cell-width: 100%;
  --ea-table-height: auto;

  --ea-table-header-color: var(--grey-700);
  --ea-table-header-font-size: var(--font-size-lg);
  --ea-table-body-color: var(--grey-900);
  --ea-table-body-font-size: var(--font-size-md);

  --ea-table-background-color: var(--color-white);
  --ea-table-stripe-background-color: #fafafa;
  --ea-table-hover-background-color: #f5f7fa;
  --ea-table-border-color: var(--grey-200);

  --ea-table-fixed-x: 0;
  --ea-table-fixed-left-cell-box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.12);
  --ea-table-fixed-right-cell-box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.12);

  --ea-table-transition: var(--transition-fast);
}

slot {
  display: none;
  visibility: hidden;
}

@include block(ea-table) {
  display: block;
  width: 100%;
  height: var(--ea-table-height);
  overflow: auto;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  background-color: var(--ea-table-background-color);

  scrollbar-width: thin;

  .ea-table__th,
  .ea-table__td {
    box-sizing: border-box;
    padding: 8px;
    border-bottom: 1px solid var(--ea-table-border-color);
  }

  .ea-table__tbody,
  .ea-table__thead {
    white-space: nowrap;
  }

  .ea-table__th,
  .ea-table__td {
    padding: var(--ea-table-cell-spacing);

    width: var(--ea-table-cell-width);
    min-width: var(--ea-table-cell-width);

    background-color: var(--ea-table-background-color);

    transition: background-color var(--ea-table-transition),
      box-shadow var(--ea-table-transition);
  }

  @include element(thead) {
    color: var(--ea-table-header-color);
    font-size: var(--ea-table-header-font-size);

    text-align: left;
  }

  @include element(tbody) {
    color: var(--ea-table-body-color);
    font-size: var(--ea-table-body-font-size);

    text-align: left;

    .ea-table__tr {
      &:hover {
        .ea-table__td {
          background-color: var(--ea-table-hover-background-color);
        }
      }
    }
  }

  @include state(sticky) {
    position: sticky;
    left: 0;
    z-index: 1;

    &.is-header {
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }

  @include state(stripe) {
    .ea-table__tbody {
      .ea-table__tr:nth-of-type(2n) {
        --ea-table-background-color: var(--ea-table-stripe-background-color);

        &:hover {
          --ea-table-background-color: var(--ea-table-hover-background-color);
        }
      }
    }
  }

  @include state(border) {
    border: 1px solid var(--ea-table-border-color);

    .ea-table__th,
    .ea-table__td {
      border-right: 1px solid var(--ea-table-border-color);
      border-left-width: 0;
      border-top-width: 0;

      &:last-child {
        border-right-width: 0;
      }
    }

    .ea-table__tbody {
      .ea-table__tr:last-child {
        .ea-table__th,
        .ea-table__td {
          border-bottom-width: 0;
        }
      }
    }
  }

  @include state(sticky-header) {
    .ea-table__thead {
      .ea-table__th {
        position: sticky;
        top: 0;

        @include state(fixed) {
          z-index: 2;
        }
      }
    }
  }

  .ea-table__td,
  .ea-table__th {
    @include state(fixed) {
      position: sticky;
      z-index: 1;

      &.fixed-left {
        left: var(--ea-table-fixed-x);
      }

      &.fixed-right {
        right: var(--ea-table-fixed-x);
      }

      &.not-origin-position {
        &.is-last {
          &.fixed-left {
            box-shadow: var(--ea-table-fixed-left-cell-box-shadow);
          }

          &.fixed-right {
            box-shadow: var(--ea-table-fixed-right-cell-box-shadow);
          }
        }
      }
    }
  }
}
