$name: ea-link;

$link-variant: (
  primary: blue,
  success: green,
  warning: yellow,
  danger: red,
  info: grey,
);

:host {
  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-transition: var(--transition-fast);
  --#{$name}-icon-margin-right: var(--spacing-sm);

  --#{$name}-cursor: var(--cursor-pointer);
  --#{$name}-pointer-events: auto;

  @each $variant, $color in $link-variant {
    --#{$name}-#{$variant}-color: var(--#{$color}-500);
    --#{$name}-#{$variant}-disabled-color: var(--#{$color}-300);
    --#{$name}-#{$variant}-hover-color: var(--#{$color}-400);
    --#{$name}-#{$variant}-active-color: var(--#{$color}-600);
  }

  --#{$name}-normal-color: var(--color-black);
  --#{$name}-normal-disabled-color: var(--grey-600);
  --#{$name}-normal-hover-color: var(--grey-800);
  --#{$name}-normal-active-color: var(--grey-900);
}

:host([disabled]) {
  --#{$name}-cursor: var(--cursor-not-allowed);
  --#{$name}-pointer-events: none;
}

:host {
  display: inline-block;
  -webkit-user-drag: auto;
  cursor: var(--#{$name}-cursor);
}

@include block($name) {
  text-decoration: none;
  color: var(--#{$name}-normal-color);
  font-size: var(--#{$name}-font-size);
  transition: color var(--#{$name}-transition);

  @include element(icon) {
    display: none;
  }

  @each $variant, $color in $link-variant {
    @include modifier(#{$variant}) {
      color: var(--#{$name}-#{$variant}-color);

      &:hover {
        color: var(--#{$name}-#{$variant}-hover-color);
      }

      &:active {
        color: var(--#{$name}-#{$variant}-active-color);
      }
    }
  }

  @include modifier(underline-hover) {
    &:hover {
      text-decoration: underline;

      ::slotted(*) {
        text-decoration: underline;
      }
    }
  }

  @include modifier(underline-always) {
    text-decoration: underline;

    ::slotted(*) {
      text-decoration: underline;
    }
  }

  @include state(disabled) {
    pointer-events: var(--#{$name}-pointer-events);
    cursor: var(--#{$name}-cursor);
    color: var(--#{$name}-normal-disabled-color);

    @each $variant, $color in $link-variant {
      &.#{$name}--#{$variant} {
        color: var(--#{$name}-#{$variant}-disabled-color);
      }
    }
  }

  @include state(icon) {
    .#{$name}__icon {
      display: inline-block;
      margin-right: var(--#{$name}-icon-margin-right);
    }
  }
}
