$name: ea-radio;
$ea-radio-size-type: (
  large,
  default,
  small
);

:host {
  --#{$name}-input-size-large: var(--font-size-lg);
  --#{$name}-input-size-default: var(--font-size-md);
  --#{$name}-input-size-small: var(--font-size-sm);

  --#{$name}-inner-size-large: 7px;
  --#{$name}-inner-size-default: 5px;
  --#{$name}-inner-size-small: 4px;

  --#{$name}-space: var(--spacing-md);

  --#{$name}-border: var(--ea-border);
  --#{$name}-border-radius: var(--border-radius);
  --#{$name}-border-hover: var(--blue-400);

  --#{$name}-inner-background: var(--color-white);

  --#{$name}-disabled-color: var(--grey-300);
}

:host([disabled]) {
  cursor: not-allowed;
}

:host(:invalid) {
  .#{$name}__inner {
    border-color: var(--red-500);
    box-shadow: 0 0 0 2px var(--red-200);
  }

  .#{$name}__label {
    color: var(--red-500);
  }
}

@include block($name) {
  display: inline-flex;
  align-items: center;

  cursor: pointer;

  margin-right: var(--#{$name}-space);

  @include element(input) {
    width: var(--#{$name}-input-size-default);
    height: var(--#{$name}-input-size-default);
    line-height: var(--#{$name}-input-size-default);
  }

  @include element(original) {
    display: none;
  }

  @include element(inner) {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100%;
    line-height: var(--#{$name}-input-size-default);

    box-sizing: border-box;
    border-radius: 50%;
    border: var(--#{$name}-border);

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);

      content: "";

      width: var(--#{$name}-inner-size-default);
      height: var(--#{$name}-inner-size-default);

      border-radius: 50%;
      background-color: var(--#{$name}-inner-background);

      box-sizing: border-box;
      transition: transform var(--transition-fast);
    }

    &:hover {
      border-color: var(--#{$name}-border-hover);
    }

    &:focus-visible {
      border-color: var(--#{$name}-border-hover);
      box-shadow: 0 0 0 2px var(--blue-200);
    }
  }

  @include element(label) {
    padding-left: var(--#{$name}-space);

    color: var(--color-black);
    font-size: var(--#{$name}-input-size-default);
    line-height: var(--#{$name}-input-size-default);
  }

  @each $size in $ea-radio-size-type {
    @include modifier($size) {
      .#{$name}__input {
        width: var(--#{$name}-input-size-#{$size});
        height: var(--#{$name}-input-size-#{$size});
        line-height: var(--#{$name}-input-size-#{$size});
      }

      .#{$name}__label {
        font-size: var(--#{$name}-input-size-#{$size});
      }

      .#{$name}__inner {
        &::before {
          width: var(--#{$name}-inner-size-#{$size});
          height: var(--#{$name}-inner-size-#{$size});
        }
      }
    }
  }

  @include state(border) {
    border: var(--#{$name}-border);
    padding: var(--#{$name}-space);
    border-radius: var(--#{$name}-border-radius);

    transition: border var(--transition-fast);
  }

  @include state(checked) {
    .#{$name}__inner {
      border-color: var(--#{$name}-border-hover);
      background-color: var(--#{$name}-border-hover);

      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .#{$name}__label {
      color: var(--#{$name}-border-hover);
    }

    &:not(.is-disabled).is-border {
      border-color: var(--#{$name}-border-hover);
    }
  }

  @include state(focus) {
    .#{$name}__inner {
      border-color: var(--#{$name}-border-hover);
      box-shadow: 0 0 0 2px var(--blue-200);
    }
  }

  @include state(disabled) {
    pointer-events: none;

    .#{$name}__inner {
      border-color: var(--#{$name}-disabled-color);
    }

    .#{$name}__label {
      color: var(--#{$name}-disabled-color);
    }

    &.is-checked {
      .#{$name}__inner {
        background-color: var(--#{$name}-disabled-color);
      }
    }
  }
}