$name: ea-select;
$ea-select-size-types: (small, default, large);

:host {
  --#{$name}-height-small: 22px;
  --#{$name}-height-default: 30px;
  --#{$name}-height-large: 38px;

  --#{$name}-dropdown-bg-color: var(--color-white);

  --#{$name}-transition: var(--transition-fast);
}

:host {
  display: inline-block;
}

@include block($name) {
  position: relative;

  @include element(tag-wrap) {
  }

  @include element(dropdown) {
    position: absolute;

    width: 100%;

    border: 1px solid var(--grey-200);

    transform-origin: top center;
    transform: scaleY(0);

    background-color: var(--#{$name}-dropdown-bg-color);

    transition: transform var(--#{$name}-transition);

    z-index: 1000;
  }

  @include element(icon-wrap) {
    display: flex;
    flex-wrap: nowrap;
  }

  @include element(dropdown-icon) {
    display: inline-block;
    transition: transform var(--#{$name}-transition);
  }

  @include state(focus) {
    .ea-select__dropdown {
      transform: scaleY(1);
    }

    .ea-select__dropdown-icon {
      transform: rotate(180deg);
    }
  }

  @include state(multiple) {
    .ea-select__input::part(prefix) {
      width: 100%;
    }

    .ea-select__input::part(original) {
      display: none;
    }
  }
}
