$name: ea-select;

:host {
  --#{$name}-dropdown-bg-color: var(--color-white);

  --#{$name}-transition: var(--transition-fast);
}

:host {
  display: inline-block;
}

@include block($name) {
  position: relative;

  @include element(dropdown) {
    position: absolute;

    width: 100%;

    border: 1px solid var(--grey-200);

    transform-origin: top center;
    transform: scaleY(0);

    background-color: var(--#{$name}-dropdown-bg-color);

    transition: transform var(--#{$name}-transition);

    z-index: 1000;
  }

  @include element(dropdown-icon) {
    transition: transform var(--#{$name}-transition);
  }

  @include state(focus) {
    .ea-select__dropdown {
      transform: scaleY(1);
    }

    .ea-select__dropdown-icon {
      transform: rotate(180deg);
    }
  }
}
