$name: ea-affix;

:host {
  --#{$name}-x: 0;
  --#{$name}-y: 0;

  --#{$name}-width: auto;
  --#{$name}-height: auto;
}

:host {
  display: flow-root;

  width: var(--#{$name}-width);
  height: var(--#{$name}-height);
}

@include block(#{$name}) {
  position: relative;
  box-sizing: border-box;

  width: var(--#{$name}-width);
  height: var(--#{$name}-height);

  @include state(affix) {
    position: fixed;
    left: var(--#{$name}-x);
    z-index: 1000;
  }

  @include modifier(top) {
    &.is-affix {
      top: var(--#{$name}-y);
    }
  }

  @include modifier(bottom) {
    &.is-affix {
      bottom: var(--#{$name}-y);
    }
  }
}
