$name: ea-space;

:host {
  --#{$name}-direction: row;
  --#{$name}-alignment: center;
  --#{$name}-wrap: nowrap;

  --#{$name}-gap-small: var(--spacing-md);
  --#{$name}-gap-default: var(--spacing-lg);
  --#{$name}-gap-large: 1rem;

  --#{$name}-gap: var(--#{$name}-gap-default);

  --#{$name}-fill-ratio: 100%;
}

:host {
  display: block;
  width: 100%;
}

@include block($name) {
  display: flex;
  align-items: var(--#{$name}-alignment);
  flex-direction: var(--#{$name}-direction);
  flex-wrap: var(--#{$name}-wrap);
  gap: var(--#{$name}-gap);

  ::slotted(*) {
    box-sizing: border-box;
  }

  @include modifier(vertical) {
    --#{$name}-direction: column;
  }

  @include modifier(small) {
    --#{$name}-gap: var(--#{$name}-gap-small);
  }

  @include modifier(large) {
    --#{$name}-gap: var(--#{$name}-gap-large);
  }

  @include modifier(fill) {
    ::slotted(*) {
      flex-grow: var(--#{$name}-fill-ratio);
      min-width: var(--#{$name}-fill-ratio);
    }
  }

  @include state(wrap) {
    --#{$name}-wrap: wrap;
  }
}
