$name: ea-menu-item-group;

:host {
  --#{$name}-spacing: 20px;

  --#{$name}-height: 36px;

  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-text-color: var(--grey-500);
}

@include block($name) {
  color: var(--#{$name}-text-color);

  @include element(title) {
    box-sizing: border-box;
    padding: 0 var(--#{$name}-spacing);

    height: var(--#{$name}-height);
    line-height: var(--#{$name}-height);

    font-size: var(--#{$name}-font-size);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    cursor: default;
  }
}
