$name: ea-slider;

:host {
  --#{$name}-height: 6px;
  --#{$name}-height-small: 4px;
  --#{$name}-height-large: 8px;

  --#{$name}-thumb-size: 16px;
  --#{$name}-thumb-size-small: 12px;
  --#{$name}-thumb-size-large: 20px;

  --#{$name}-rail-bg-color: var(--grey-200);
  --#{$name}-bar-bg-color: var(--blue-500);
  --#{$name}-thumb-bg-color: var(--color-white);
  --#{$name}-thumb-border-color: var(--blue-300);

  --#{$name}-transition: var(--transition-fast);
}

:host {
  display: block;
  width: 100%;
}

:host(:invalid) {
  .#{$name}__form-label {
    color: var(--red-500);
  }

  .#{$name}__thumb {
    border-color: var(--red-500);
  }
}

@include block($name) {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 var(--#{$name}-thumb-size);
  width: 100%;

  @include element(form-label) {
    display: block;
    padding-bottom: var(--spacing-md);

    font-size: var(--font-size-md);
    color: var(--grey-700);

    &:empty {
      display: none;
    }
  }

  @include element(runway) {
    position: relative;
    flex: 1;
    height: 100%;

    margin-right: calc(var(--spacing-md) + var(--#{$name}-thumb-size));
  }

  @include element(rail) {
    width: 100%;
    height: var(--#{$name}-height);
    background-color: var(--#{$name}-rail-bg-color);
    border-radius: var(--border-radius-round);
    cursor: pointer;
  }

  @include element(bar) {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--#{$name}-height);
    background-color: var(--#{$name}-bar-bg-color);
    border-radius: var(--border-radius-round);
    pointer-events: none;
  }

  @include element(stop) {
    display: none;

    position: absolute;
    z-index: 1;
    transform: translateX(-50%);

    width: var(--#{$name}-height);
    height: var(--#{$name}-height);

    background-color: var(--color-white);
    border-radius: var(--border-radius-circle);
  }

  @include element(trigger) {
    --ea-popper-width: auto;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    transition: transform var(--#{$name}-transition);

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }

    &::part(original) {
      display: none;
    }
  }

  @include element(thumb) {
    position: relative;

    width: var(--#{$name}-thumb-size);
    height: var(--#{$name}-thumb-size);
    background-color: var(--#{$name}-thumb-bg-color);
    border: 2px solid var(--#{$name}-thumb-border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--#{$name}-transition);
  }

  @include element(marks) {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include element(mark-stop) {
    display: block;
  }

  @include element(mark) {
    position: absolute;
    transform: translateX(-50%);
    margin-top: calc(var(--#{$name}-thumb-size) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include element(mark-label) {
    margin-top: var(--spacing-xs);
    font-size: var(--font-size-sm);
    color: var(--grey-500);
    white-space: nowrap;
  }

  @include element(input) {
    display: none;
  }

  @include element(tooltip) {
    display: none;
  }

  @include state(vertical) {
    flex-direction: column;
    height: 100%;
    width: auto;

    transform: rotate(180deg);

    .#{$name}__runway {
      height: 100%;
      width: auto;

      display: flex;
    }

    .#{$name}__trigger::part(container) {
      transform-origin: center center;
      rotate: 180deg;
    }

    .#{$name}__rail {
      width: var(--#{$name}-height);
      height: 100%;
    }

    .#{$name}__bar {
      width: var(--#{$name}-height);
      height: auto;
    }

    .#{$name}__trigger {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .#{$name}__stop {
      transform: translateY(-50%);
    }

    .#{$name}__marks {
      top: 0;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translateX(-50%);
    }

    .#{$name}__mark {
      top: auto;
      left: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      margin-top: 0;
      margin-left: calc(var(--#{$name}-thumb-size) / 2);
    }

    .#{$name}__mark-label {
      margin-top: 0;
      margin-left: var(--spacing-xs);
      text-align: left;
    }
  }

  @include state(show-stops) {
    .#{$name}__stop {
      display: block;
    }
  }

  @include state(show-tooltip) {
    .#{$name}__tooltip {
      display: block;
    }

    .#{$name}__trigger::part(original) {
      display: block;
      pointer-events: none;
    }
  }

  @include state(show-input) {
    .#{$name}__input {
      display: inline-block;
      left: auto;
      right: calc(100% + var(--spacing-sm));
    }
  }

  @include state(disabled) {
    .#{$name}__rail {
      background-color: var(--grey-100);
      cursor: not-allowed;
    }

    .#{$name}__bar {
      background-color: var(--grey-300);
    }

    .#{$name}__thumb {
      cursor: not-allowed;
      border-color: var(--grey-300);
    }
  }

  @include modifier(small) {
    --#{$name}-height: var(--#{$name}-height-small);
    --#{$name}-thumb-size: var(--#{$name}-thumb-size-small);
  }

  @include modifier(large) {
    --#{$name}-height: var(--#{$name}-height-large);
    --#{$name}-thumb-size: var(--#{$name}-thumb-size-large);
  }
}