$name: ea-infinite-scroll;

:host {
  --#{$name}-placeholder-height: 1px;
}

:host {
  display: block;
}

@include block($name) {
  @include element(loading) {
    display: none;
  }

  @include element(noMore) {
    display: none;
  }

  @include element(placeholder) {
    height: var(--#{$name}-placeholder-height);
  }

  @include state(loading) {
    .#{$name}__loading {
      display: block;
    }
  }

  @include state(noMore) {
    .#{$name}__noMore {
      display: block;
    }
  }
}
