$name: ea-breadcrumb;

:host {
  display: block;
}

#separatorSlot {
  display: none;
}

@include block($name) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--font-size-md);
}
