$name: ea-text;

$text-variant-colors: (
  primary: blue-500,
  success: green-500,
  info: grey-500,
  warning: yellow-500,
  danger: red-500,
);

$text-size-fonts: (
  small: font-size-sm,
  medium: font-size-md,
  large: font-size-lg,
);

:host {
  --#{$name}-line-clamp: 0;

  @each $variant, $color in $text-variant-colors {
    --#{$name}-#{$variant}-color: var(--#{$color});
  }

  @each $size, $font in $text-size-fonts {
    --#{$name}-#{$size}-font-size: var(--#{$font});
  }

  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
}

@include block($name) {
  font-size: var(--#{$name}-medium-font-size);
  line-height: var(--#{$name}-medium-font-size);

  @each $variant, $color in $text-variant-colors {
    @include modifier(#{$variant}) {
      color: var(--#{$name}-#{$variant}-color);
    }
  }

  @each $size, $font in $text-size-fonts {
    @include modifier(#{$size}) {
      font-size: var(--#{$name}-#{$size}-font-size);
      line-height: var(--#{$name}-#{$size}-font-size);

      ::slotted(*) {
        font-size: var(--#{$name}-#{$size}-font-size);
        line-height: var(--#{$name}-#{$size}-font-size);
      }
    }
  }

  @include modifier(truncated) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include modifier(line-clamp) {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--#{$name}-line-clamp);
    overflow: hidden;
  }
}
