$ea-image-status: (loading, error, success);

:host {
  --ea-image-width: auto;
  --ea-image-height: auto;

  --ea-image-fit: none;

  --ea-image-background: var(--grey-100);
}

:host {
  display: inline-block;
}

@include block(ea-image) {
  width: var(--ea-image-width);
  height: var(--ea-image-height);

  background: var(--ea-image-background);

  @include element(image) {
    width: 100%;
    height: 100%;

    object-fit: var(--ea-image-fit);
  }

  @include element(error) {
    width: 100%;
    height: 100%;
  }

  @include element(placeholder) {
    width: 100%;
    height: 100%;
  }

  @each $status in $ea-image-status {
    @if ($status == loading) {
      @include modifier($status) {
        .ea-image__image,
        .ea-image__error {
          display: none;
        }
      }
    } @else if ($status == error) {
      @include modifier($status) {
        .ea-image__image,
        .ea-image__placeholder {
          display: none;
        }
      }
    } @else if($status == success) {
      @include modifier($status) {
        .ea-image__placeholder,
        .ea-image__error {
          display: none;
        }
      }
    }
  }
}
