$name: ea-image;

:host {
  --#{$name}-width: 100%;
  --#{$name}-height: 100%;
  --#{$name}-fit: inherit;
  --#{$name}-background: var(--grey-100);
}

:host {
  display: block;
}

@mixin statusContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@include block($name) {
  width: var(--#{$name}-width);
  height: var(--#{$name}-height);
  overflow: hidden;
  background: var(--#{$name}-background);

  @include element(image) {
    width: 100%;
    height: 100%;
    object-fit: var(--#{$name}-fit);
  }

  @include element(error) {
    @include statusContent;
  }

  @include element(placeholder) {
    @include statusContent;
  }

  @include modifier(loading) {
    .#{$name}__image,
    .#{$name}__error {
      display: none;
    }
  }

  @include modifier(error) {
    .#{$name}__image,
    .#{$name}__placeholder {
      display: none;
    }
  }

  @include modifier(success) {
    --#{$name}-background: transparent;

    .#{$name}__placeholder,
    .#{$name}__error {
      display: none;
    }
  }
}
