@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-badge_wrap {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
.ea-badge_wrap .ea-badge_content {
  display: inline-block;
  padding: 0 0.375rem;
  border-radius: 0.625rem;
  border: 1px solid #fff;
  height: 1.125rem;
  line-height: 1.125rem;
  position: absolute;
  right: 0.625rem;
  top: 0;
  transform: translate(100%, -50%);
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
  background-color: #f56c6c;
}
.ea-badge_wrap .ea-badge_content.primary {
  background-color: #409eff;
}
.ea-badge_wrap .ea-badge_content.success {
  background-color: #67c23a;
}
.ea-badge_wrap .ea-badge_content.warning {
  background-color: #e6a23c;
}
.ea-badge_wrap .ea-badge_content.info {
  background-color: #909399;
}
.ea-badge_wrap .ea-badge_content.dot {
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  border-radius: 50%;
  transform: translate(100%, -50%);
}