:host {
  --ea-card-border-color: var(--color-border, #ebeef5);
  --ea-card-transition: var(--transition-normal);
  --ea-card-border-radius: var(--border-radius-sm);
  --ea-card-box-shadow: var(--box-shadow-md);
  --ea-card-background-color: var(--color-white);
  --ea-card-padding: 20px;
}

:host {
  display: block;
}

::slotted([slot="header"]),
::slotted([slot="footer"]) {
  display: block;
  padding: var(--ea-card-padding);
}

::slotted([slot="header"]) {
  border-bottom: 1px solid var(--ea-card-border-color);
}

::slotted([slot="footer"]) {
  border-top: 1px solid var(--ea-card-border-color);
}

@include block(ea-card) {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border-radius: var(--ea-card-border-radius);
  border: 1px solid var(--ea-card-border-color);

  background-color: var(--ea-card-background-color);

  transition: box-shadow var(--ea-card-transition);

  @include element(content) {
    padding: var(--ea-card-padding);
  }

  .ea-card__header,
  .ea-card__footer {
    padding: var(--ea-card-padding);

    &:has(slot:empty) {
      padding: 0;
      border: none;
    }
  }

  @include element(header) {
    border-bottom: 1px solid var(--ea-card-border-color);
  }

  @include element(footer) {
    border-top: 1px solid var(--ea-card-border-color);
  }

  @include modifier(hover-shadow) {
    &:hover {
      box-shadow: var(--ea-card-box-shadow);
    }
  }

  @include modifier(always-shadow) {
    box-shadow: var(--ea-card-box-shadow);
  }

  @include modifier(never-shadow) {
    box-shadow: none;
  }
}