:host {
  display: block;
  position: relative;
  width: 100%;
}

@include block(ea-skeleton) {
  ea-skeleton-item[variant="p"]:first-child {
    width: 33%;
  }

  ea-skeleton-item[variant="p"]:last-child {
    width: 66%;
    margin-bottom: 0;
  }
}
