:host {
  display: block;
  position: relative;
  width: 100%;
}

@include block(ea-skeleton) {
  #template {
    ea-skeleton-item[variant="p"]:first-child {
      width: 33%;
      display: block;
    }

    ea-skeleton-item[variant="p"]:last-child {
      width: 66%;
      margin-bottom: 0;
      display: block;
    }
  }

  #template {
    display: none;
  }

  @include state(loading) {
    #template {
      display: block;
    }

    #default {
      display: none;
    }
  }
}
