$ea-switch-size-type: (small, default, large);

:host {
  --ea-switch-space: 0 var(--spacing-md);

  --ea-switch-large-width: 50px;
  --ea-switch-default-width: 40px;
  --ea-switch-small-width: 30px;

  --ea-switch-large-height: 24px;
  --ea-switch-default-height: 20px;
  --ea-switch-small-height: 16px;

  --ea-switch-indicator-large-size: 20px;
  --ea-switch-indicator-default-size: 16px;
  --ea-switch-indicator-small-size: 12px;

  --ea-switch-large-font-size: 18px;
  --ea-switch-default-font-size: 16px;
  --ea-switch-small-font-size: 14px;

  --ea-switch-indicator-color: var(--color-white);
  --ea-switch-indicator-start: 2px;
  --ea-switch-indicator-end: calc(
    100% - var(--ea-switch-indicator-default-size) - 2px
  );

  --ea-switch-inactive-bg-color: var(--grey-300);
  --ea-switch-inactive-text-color: var(--grey-900);
  --ea-switch-active-bg-color: var(--blue-500);
  --ea-switch-active-text-color: var(--blue-500);

  --ea-switch-disabled-text-color: var(--grey-300);
  --ea-switch-disabled-bg-color: var(--grey-200);
  --ea-switch-disabled-checked-bg-color: var(--blue-300);
  --ea-switch-disabled-checked-text-color: var(--blue-300);

  --ea-switch-border-radius: var(--border-radius-round);
}

:host(:invalid) {
  .ea-switch__form-label {
    color: var(--red-500);
  }

  .ea-switch__inner {
    box-shadow: 0 0 0 2px var(--red-500);
  }
}

:host([inactive-text]) {
  @include block(ea-switch) {
    @include element(label) {
      color: var(--ea-switch-active-text-color);

      &.label-right {
        color: var(--ea-switch-inactive-text-color);
      }
    }

    @include state(checked) {
      .label-left {
        color: var(--ea-switch-inactive-text-color);
      }

      .label-right {
        color: var(--ea-switch-active-text-color);
      }
    }

    @include state(disabled) {
      .label-left {
        color: var(--ea-switch-disabled-checked-text-color);
      }

      .label-right {
        color: var(--ea-switch-disabled-text-color);
      }
    }
  }
}

:host([disabled]) {
  cursor: not-allowed;
}

:host {
  display: inline-block;
}

@include block(ea-switch-wrapper) {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

@include block(ea-switch) {
  display: flex;
  align-items: center;
  cursor: pointer;

  color: var(--ea-switch-inactive-text-color);

  @include element(form-label) {
    display: block;
    padding-bottom: var(--spacing-md);

    font-size: var(--font-size-md);
    color: var(--grey-700);

    &:empty {
      display: none;
    }
  }

  @include element(original) {
    display: none;
  }

  @include element(inner) {
    position: relative;

    margin: var(--ea-switch-space);
    height: var(--ea-switch-default-height);
    line-height: var(--ea-switch-default-height);

    background-color: var(--ea-switch-inactive-bg-color);
    border-radius: var(--ea-switch-border-radius);

    transition: background-color var(--transition-normal);

    &::after {
      content: "";
      display: block;

      position: absolute;
      left: var(--ea-switch-indicator-start);
      top: 50%;
      transform-origin: center center;
      transform: translate(0, -50%);

      width: var(--ea-switch-indicator-default-size);
      height: var(--ea-switch-indicator-default-size);

      border-radius: var(--border-radius-circle);
      background-color: var(--ea-switch-indicator-color);

      z-index: 1;

      transition:
        left var(--transition-normal),
        transform var(--transition-normal);
    }
  }

  @include element(label) {
    &.label-left {
      color: var(--ea-switch-active-text-color);
    }

    transition: color var(--transition-normal);
  }

  @each $size in $ea-switch-size-type {
    @include modifier($size) {
      font-size: var(--ea-switch-#{$size}-font-size);

      .ea-switch__inner {
        flex: 1 0 var(--ea-switch-#{$size}-width);
        width: var(--ea-switch-#{$size}-width);
        height: var(--ea-switch-#{$size}-height);

        min-width: calc(var(--ea-switch-#{$size}-width));

        &::after {
          width: var(--ea-switch-indicator-#{$size}-size);
          height: var(--ea-switch-indicator-#{$size}-size);
        }
      }

      &.is-checked {
        .ea-switch__inner::after {
          color: var(--ea-switch-active-bg-color);
          left: calc(100% - var(--ea-switch-indicator-#{$size}-size) - 2px);
        }
      }
    }
  }

  @include state(checked) {
    .ea-switch__inner {
      background-color: var(--ea-switch-active-bg-color);
    }

    .label-right {
      color: var(--ea-switch-active-text-color);
    }

    .label-left {
      color: var(--ea-switch-inactive-text-color);
    }
  }

  @include state(disabled) {
    pointer-events: none;

    color: var(--ea-switch-disabled-text-color);

    .ea-switch__inner {
      background-color: var(--ea-switch-disabled-bg-color);
    }

    &.is-checked {
      .ea-switch__inner {
        background-color: var(--ea-switch-disabled-checked-bg-color);
      }

      .label-left {
        color: var(--ea-switch-disabled-text-color);
      }

      .label-right {
        color: var(--ea-switch-disabled-checked-text-color);
      }
    }
  }
}
