$ea-check-tag-types: (
  "primary": blue,
  "info": grey,
  "success": green,
  "warning": "yellow",
  "danger": "red",
);

:host {
  --ea-check-tag-spacing: 4px 12px;
  --ea-check-tag-border-radius: var(--border-radius-sm);

  @each $type, $color in $ea-check-tag-types {
    --ea-check-tag-#{$type}-theme-color: var(--#{$color}-100);
    --ea-check-tag-#{$type}-text-color: var(--#{$color}-500);
    --ea-check-tag-#{$type}-hover-theme-color: var(--#{$color}-200);
    --ea-check-tag-#{$type}-disable-theme-color: var(--#{$color}-200);
  }
  --ea-check-tag-disable-text-color: var(--grey-400);
  --ea-check-tag-info-checked-theme-color: var(--grey-200);

  --ea-check-tag-font-size: var(--font-size-lg);

  --ea-check-tag-transition: var(--transition-normal);
}

:host {
  display: inline-block;
}

:host([disabled]) {
  cursor: not-allowed;
}

@include block(ea-check-tag) {
  box-sizing: border-box;
  padding: var(--ea-check-tag-spacing);
  border-radius: var(--ea-check-tag-border-radius);

  background-color: var(--ea-check-tag-info-theme-color);
  color: var(--ea-check-tag-info-text-color);
  cursor: pointer;

  font-weight: 600;
  font-size: var(--ea-check-tag-font-size);

  transition: background-color var(--ea-check-tag-transition);

  &:hover {
    background-color: var(--ea-check-tag-info-hover-theme-color);
  }

  @include state(disabled) {
    pointer-events: none;
    color: var(--ea-check-tag-disable-text-color);
    background-color: var(--ea-check-tag-info-theme-color);

    &:hover {
      background-color: var(--ea-check-tag-info-theme-color);
    }
  }

  @each $type, $color in $ea-check-tag-types {
    @include modifier($type) {
      color: var(--ea-check-tag-#{$type}-text-color);
      @if ($type == "info") {
        background-color: var(--ea-check-tag-info-checked-theme-color);
      } @else {
        background-color: var(--ea-check-tag-#{$type}-theme-color);
      }
      border-color: var(--ea-check-tag-#{$type}-theme-color);

      &:hover {
        background-color: var(--ea-check-tag-#{$type}-hover-theme-color);
      }

      &.is-disabled {
        @if ($type != "info") {
          background-color: var(--ea-check-tag-#{$type}-disable-theme-color);
        }
      }
    }
  }
}
