$name: ea-input;

:host {
  --#{$name}-border-radius: var(--border-radius-sm);
  --#{$name}-border-color: var(--color-border);
  --#{$name}-border-focus-color: var(--blue-400);
  --#{$name}-border-invalid-color: var(--red-500);
  --#{$name}-padding: 0 var(--spacing-md);

  --#{$name}-disabled-bg-color: var(--grey-100);
  --#{$name}-disabled-color: var(--grey-300);

  --#{$name}-height-sm: 22px;
  --#{$name}-height-md: 30px;
  --#{$name}-height-lg: 38px;
  --#{$name}-height: var(--#{$name}-height-md);

  --#{$name}-font-size-sm: var(--font-size-sm);
  --#{$name}-font-size-md: var(--font-size-md);
  --#{$name}-font-size-lg: var(--font-size-lg);
  --#{$name}-font-size: var(--#{$name}-font-size-md);

  --#{$name}-text-color: var(--grey-700);

  --#{$name}-transition: var(--transition-fast);

  --#{$name}-icon-color: var(--grey-500);

  --#{$name}-outside-fill-color: var(--grey-100);

  --#{$name}-resize: vertical;
}

:host {
  display: block;
}

:host([disabled]) {
  cursor: not-allowed;
  user-select: none;
}

:host(:invalid) {
  .#{$name}__inner {
    --#{$name}-border-color: var(--#{$name}-border-invalid-color);
  }
}

:host(:invalid:focus) {
  .#{$name}__inner {
    --#{$name}-border-color: var(--#{$name}-border-invalid-color);
    box-shadow: 0 0 0 2px rgba(245, 108, 108, 0.2);
  }
}

::slotted([slot="prefix"]),
::slotted([slot="suffix"]) {
  color: var(--#{$name}-icon-color);
}

::slotted([slot="prefix"]) {
  margin-right: var(--spacing-md);
}

::slotted([slot="suffix"]) {
  margin-left: var(--spacing-sm);
}

@mixin outside-slot-style {
  box-sizing: border-box;
  padding: var(--#{$name}-padding);
  border: 1px solid var(--#{$name}-border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;

  color: var(--#{$name}-text-color);

  background-color: var(--#{$name}-outside-fill-color);
}

@include block($name) {
  position: relative;
  display: flex;
  flex-direction: column;

  @include element(region) {
    display: flex;
    align-items: center;
  }

  @include element(form-label) {
    padding-bottom: var(--spacing-md);

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-text-color);

    &:empty {
      display: none;
    }
  }

  @include element(inner) {
    flex: 1;

    display: flex;
    align-items: center;

    box-shadow: none;

    padding: var(--#{$name}-padding);

    border: 1px solid var(--#{$name}-border-color);
    border-radius: var(--#{$name}-border-radius);

    width: 100%;
    min-height: var(--#{$name}-height);
    overflow: hidden;

    transition: border var(--#{$name}-transition);
  }

  @include element(original-wrapper) {
    width: 100%;

    line-height: var(--#{$name}-height);
  }

  @include element(original) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    width: 100%;
    height: 100%;

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-text-color);

    &::placeholder {
      color: var(--#{$name}-icon-color);
    }
  }

  @include element(prefix-icon) {
    margin-right: var(--spacing-md);
    color: var(--#{$name}-icon-color);
  }

  @include element(suffix) {
    box-sizing: border-box;

    display: flex;
    align-items: center;
  }

  @include element(suffix-icon-item) {
    color: var(--#{$name}-icon-color);
  }

  @include element(suffix-icon) {
    margin-left: var(--spacing-sm);
  }

  @include element(word-count) {
    display: none;

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-icon-color);

    white-space: nowrap;
  }

  @include element(clear-icon) {
    display: none;
    cursor: pointer;
    color: var(--#{$name}-icon-color);
  }

  @include element(show-password-icon) {
    display: none;
    cursor: pointer;
    color: var(--#{$name}-icon-color);
  }

  @include modifier(textarea) {
    --#{$name}-padding: var(--spacing-md);

    .#{$name}__inner {
      padding: 0;
    }

    .#{$name}__prefix {
      padding-right: 0;
    }

    .#{$name}__original {
      min-height: calc(var(--#{$name}-height) + 8px);
      line-height: normal;

      resize: var(--#{$name}-resize);
      scrollbar-width: thin;

      padding: var(--spacing-sm);
    }

    .#{$name}__word-count {
      position: absolute;
      bottom: var(--spacing-sm);
      right: var(--spacing-lg);
    }
  }

  @include state(focus) {
    .#{$name}__inner {
      --#{$name}-border-color: var(--#{$name}-border-focus-color);
    }
  }

  @include state(disabled) {
    background-color: var(--#{$name}-disabled-bg-color);
    cursor: not-allowed;
    pointer-events: none;

    .#{$name}__original {
      &:disabled {
        background-color: var(--#{$name}-disabled-bg-color);
        color: var(--#{$name}-disabled-color);
      }
    }
  }

  @include state(clearable) {
    .#{$name}__clear-icon {
      display: block;
    }
  }

  @include modifier(show-password) {
    .#{$name}__show-password-icon {
      display: block;
    }
  }

  @include modifier(has-prepend) {
    --#{$name}-border-radius: 0 var(--border-radius-sm) var(--border-radius-sm)
      0;

    .#{$name}__prepend {
      @include outside-slot-style;

      border-right: none;
      border-radius: var(--border-radius-sm);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include modifier(has-append) {
    --#{$name}-border-radius: var(--border-radius-sm) 0 0
      var(--border-radius-sm);

    .#{$name}__append {
      @include outside-slot-style;

      border-left: none;
      border-radius: var(--border-radius-sm);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include modifier(size-small) {
    --#{$name}-height: var(--#{$name}-height-sm);
    --#{$name}-font-size: var(--font-size-sm);
  }

  @include modifier(size-large) {
    --#{$name}-height: var(--#{$name}-height-lg);
    --#{$name}-font-size: var(--font-size-lg);
  }

  @include modifier(show-word-limit) {
    .#{$name}__word-count {
      display: block;
    }
  }

  &.#{$name}--has-prepend.#{$name}--has-append {
    --#{$name}-border-radius: 0;
  }
}
