:host {
  --ea-input-border-radius: var(--border-radius-sm);
  --ea-input-border-color: var(--color-border);
  --ea-input-border-focus-color: var(--blue-400);
  --ea-input-padding: 0 var(--spacing-md);

  --ea-input-disabled-background-color: var(--grey-100);

  --ea-input-height: 32px;

  --ea-input-font-size: var(--font-size-md);
  --ea-input-text-color: var(--grey-700);
  --ea-input-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  --ea-input-transition: var(--transition-fast);

  --ea-input-icon-color: var(--grey-500);
}

:host {
  display: block;
}

:host([disabled]) {
  cursor: not-allowed;
  user-select: none;
}

::slotted([slot="prefix"]),
::slotted([slot="suffix"]) {
  color: var(--ea-input-icon-color);
}

@include block(ea-input) {
  display: flex;

  transition: box-shadow var(--ea-input-transition);

  @include element(inner) {
    flex: 1;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    box-shadow: none;

    padding: var(--ea-input-padding);

    border: 1px solid var(--ea-input-border-color);
    border-radius: var(--ea-input-border-radius);

    width: 100%;
    overflow: hidden;

    transition: border var(--ea-input-transition);
  }

  @include element(original) {
    box-sizing: border-box;
    margin: 0;
    // padding: var(--ea-input-padding);
    border: 0;
    outline: 0;

    height: calc(var(--ea-input-height));
    line-height: calc(var(--ea-input-height));
    width: 100%;

    font-size: var(--ea-input-font-size);
    color: var(--ea-input-text-color);

    &::placeholder {
      color: var(--ea-input-icon-color);
    }
  }

  @include element(prefix) {
  }

  @include element(suffix) {
    box-sizing: border-box;

    display: flex;
  }

  .ea-input__clear-icon,
  .ea-input__show-password-icon {
    display: none;
    cursor: pointer;

    color: var(--ea-input-icon-color);
  }

  .ea-input__prefix-icon,
  .ea-input__suffix-icon {
    color: var(--ea-input-icon-color);
  }

  @include element(prepend) {
  }

  @include element(append) {
  }

  @include modifier(textarea) {
    --ea-input-padding: var(--spacing-md);

    .ea-input__original {
      min-height: calc(var(--ea-input-height) + 8px);
      line-height: normal;

      resize: vertical;
      scrollbar-width: none;
    }
  }

  @include state(focus) {
    --ea-input-border-color: var(--ea-input-border-focus-color);
  }

  @include state(disabled) {
    background-color: var(--ea-input-disabled-background-color);
    cursor: not-allowed;
    pointer-events: none;

    .ea-input__original {
      &:disabled {
        background-color: var(--ea-input-disabled-background-color);
      }
    }
  }

  @include modifier(clearable) {
    .ea-input__clear-icon {
      display: block;
    }
  }

  @include modifier(show-password) {
    .ea-input__show-password-icon {
      display: block;
    }
  }

  &:hover {
    box-shadow: var(--ea-input-box-shadow);
  }
}
