$name: ea-timeline-item;

:host {
  --#{$name}-last-child-tail-display: block;
  --#{$name}-last-child-tail-top: 0;

  --#{$name}-bottom-spacing: 20px;
  --#{$name}-spacing: 0 0 20px 28px;
  --#{$name}-timestamp-spacing: 8px;

  --#{$name}-dot-size-normal: 12px;
  --#{$name}-dot-size-large: 14px;

  --#{$name}-dot-color: var(--grey-300);
  --#{$name}-tail-color: var(--grey-300);
  --#{$name}-content-color: var(--grey-900);
  --#{$name}-timestamp-color: var(--grey-500);

  --#{$name}-font-size: var(--font-size-md);

  @include component-types-defination($name, 5);
}

@include block($name) {
  position: relative;
  box-sizing: border-box;

  padding: var(--#{$name}-spacing);

  @include element(dot) {
    position: absolute;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid transparent;

    width: var(--#{$name}-dot-size-normal);
    height: var(--#{$name}-dot-size-normal);
    font-size: var(--#{$name}-dot-size-normal);
    line-height: var(--#{$name}-dot-size-normal);

    border-radius: 50%;
    background-color: var(--#{$name}-dot-color);
    color: var(--#{$name}-dot-color);
  }

  @include element(icon-dot) {
    --ea-icon-size: calc(var(--#{$name}-dot-size-normal) - 4px);
    color: var(--color-white);
  }

  @include element(tail) {
    display: var(--#{$name}-last-child-tail-display);

    position: absolute;
    left: calc(var(--#{$name}-dot-size-normal) / 2 + 2px);
    transform: translate(-50%, 0);

    width: 2px;
    height: 100%;

    background-color: var(--#{$name}-tail-color);

    z-index: 0;
  }

  @include element(content) {
    position: relative;
    top: -4px;

    display: flex;
    flex-direction: column;

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-content-color);
  }

  @include element(timestamp) {
    margin-top: var(--#{$name}-timestamp-spacing);

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-timestamp-color);
  }

  @include modifier(large) {
    .#{$name}__dot {
      width: var(--#{$name}-dot-size-large);
      height: var(--#{$name}-dot-size-large);
    }
  }

  @include modifier(center) {
    overflow: hidden;

    .#{$name}__dot {
      top: calc(50% - var(--#{$name}-bottom-spacing));
    }

    .#{$name}__tail {
      top: var(--#{$name}-last-child-tail-top);
    }

    .#{$name}__dot {
      transform: translateY(-50%);
    }
  }

  @each $placement in (top, bottom) {
    @include modifier($placement) {
      .#{$name}__right-wrapper {
        display: flex;

        @if $placement ==top {
          flex-direction: column-reverse;
        }

        @else {
          flex-direction: column;
        }
      }

      .#{$name}__timestamp {
        margin-top: 0;
        margin-bottom: var(--#{$name}-timestamp-spacing);
      }
    }
  }

  @include state(hollow-dot) {
    .#{$name}__dot {
      background-color: var(--color-white);
      border-width: 2px;
      border-style: solid;
    }
  }

  @include state(hide-timestamp) {
    .#{$name}__timestamp {
      display: none;
    }
  }

  @each $type, $color in $component-types {
    @include modifier($type) {
      .#{$name}__dot {
        background-color: var(--#{$name}-#{$type}-color);
        border-color: var(--#{$name}-#{$type}-color);
      }

      .#{$name}__dot[part*="icon-dot"] {
        color: var(--color-white);
      }
    }
  }
}