$ea-timeline-item-placement: (top, bottom);
$name: ea-timeline-item;

:host {
  --is-last-child-display: block;
  --is-last-child-top: 0;

  --#{$name}-bottom-spacing: 20px;
  --#{$name}-spacing: 0 0 20px 28px;
  --#{$name}-timestamp-spacing: 8px;

  --ea-timeline-item-dot-size-normal: 12px;
  --ea-timeline-item-dot-size-large: 14px;

  --#{$name}-dot-color: var(--grey-300);
  --#{$name}-tail-color: var(--grey-300);
  --#{$name}-content-color: var(--grey-900);
  --#{$name}-timestamp-color: var(--grey-500);

  --#{$name}-font-size: var(--font-size-md);

  @include component-types-defination(ea-timeline-item, 5);
}

@include block(ea-timeline-item) {
  position: relative;
  box-sizing: border-box;

  padding: var(--#{$name}-spacing);

  @include element(dot) {
    position: absolute;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid transparent;

    width: var(--ea-timeline-item-dot-size-normal);
    height: var(--ea-timeline-item-dot-size-normal);
    font-size: var(--ea-timeline-item-dot-size-normal);
    line-height: var(--ea-timeline-item-dot-size-normal);

    border-radius: 50%;
    background-color: var(--#{$name}-dot-color);
    color: var(--#{$name}-dot-color);
  }

  @include element(icon-dot) {
    font-size: calc(var(--ea-timeline-item-dot-size-normal) - 4px);
    color: white;
  }

  @include element(tail) {
    display: var(--is-last-child-display);

    position: absolute;
    left: calc(var(--ea-timeline-item-dot-size-normal) / 2 + 2px);
    transform: translate(-50%, 0);

    width: 2px;
    height: 100%;

    background-color: var(--#{$name}-tail-color);

    z-index: 0;
  }

  @include element(content) {
    position: relative;
    top: -4px;

    display: flex;
    flex-direction: column;

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-content-color);
  }

  @include element(timestamp) {
    margin-top: var(--#{$name}-timestamp-spacing);

    font-size: var(--#{$name}-font-size);
    color: var(--#{$name}-timestamp-color);
  }

  @include modifier(large) {
    .ea-timeline-item__dot {
      width: var(--ea-timeline-item-dot-size-large);
      height: var(--ea-timeline-item-dot-size-large);
    }
  }

  @include modifier(center) {
    overflow: hidden;

    .ea-timeline-item__dot {
      top: calc(50% - var(--#{$name}-bottom-spacing));
    }

    .ea-timeline-item__tail {
      top: var(--is-last-child-top);
    }

    .ea-timeline-item__dot {
      transform: translateY(-50%);
    }
  }

  @each $placment in $ea-timeline-item-placement {
    @include modifier($placment) {
      .right-wrapper {
        display: flex;

        @if $placment == top {
          flex-direction: column-reverse;
        } @else {
          flex-direction: column;
        }
      }

      .ea-timeline-item__timestamp {
        margin-top: 0;
        margin-bottom: var(--#{$name}-timestamp-spacing);
      }
    }
  }

  @include state(hollow-dot) {
    .ea-timeline-item__dot {
      background-color: var(--white);
      border-width: 2px;
      border-style: solid;
    }
  }

  @each $type, $color in $component-types {
    @include modifier($type) {
      .ea-timeline-item__dot {
        background-color: var(--ea-timeline-item-#{$type}-color);
        border-color: var(--ea-timeline-item-#{$type}-color);
      }

      .ea-timeline-item__dot[part*="icon-dot"] {
        color: var(--color-white);
      }
    }
  }
}
