@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-dialog_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2024;
}
.ea-dialog_wrap .ea-dialog_board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  width: 420px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  box-sizing: 0 2px 12px 0;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_header {
  padding: 15px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_header .ea-dialog_header-title {
  font-size: 18px;
  line-height: 1;
  color: #303133;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_header .ea-dialog_header-close {
  display: inline-block;
  font-size: 16px;
  color: #909399;
  cursor: pointer;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_content {
  padding: 10px 15px;
  color: #606266;
  font-size: 14px;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_footer {
  padding: 5px 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ea-dialog_wrap .ea-dialog_board .ea-dialog_footer :first-child {
  margin-right: 0.5rem;
}