:host {
  display: inline-block;
}

:host {
  --ea-switch-space: 0 var(--spacing-md);

  --ea-switch-width: 40px;
  --ea-switch-height: 20px;

  --ea-switch-indicator-size: 16px;
  --ea-switch-indicator-color: var(--color-white);
  --ea-switch-indicator-start: 2px;
  --ea-switch-indicator-end: calc(100% - 1rem - 2px);

  --ea-switch-inactive-checkbox-bgc: var(--grey-300);
  --ea-switch-inactive-text-color: var(--color-black);
  --ea-switch-active-checkbox-bgc: var(--blue-500);
  --ea-switch-active-text-color: var(--blue-500);

  --ea-switch-disabled-text-color: var(--grey-300);
  --ea-switch-disabled-checkbox-bgc: var(--grey-200);
  --ea-switch-disabled-checked-checkbox-bgc: var(--blue-300);
  --ea-switch-disabled-checked-text-color: var(--blue-300);

  --ea-switch-border-radius: var(--border-radius-round);
}

:host([inactive-text]) {
  @include block(ea-switch) {
    @include element(label) {
      color: var(--ea-switch-active-text-color);

      &.label-right {
        color: var(--ea-switch-inactive-text-color);
      }
    }

    @include modifier(checked) {
      .label-left {
        color: var(--ea-switch-inactive-text-color);
      }

      .label-right {
        color: var(--ea-switch-active-text-color);
      }
    }

    @include modifier(disabled) {
      .label-left {
        color: var(--ea-switch-disabled-checked-text-color);
      }

      .label-right {
        color: var(--ea-switch-disabled-text-color);
      }
    }
  }
}

:host([disabled]) {
  cursor: not-allowed;

  @include block(ea-switch) {
    @include modifier(checked) {
      .ea-switch__inner {
        background-color: var(--ea-switch-disabled-checked-checkbox-bgc);
      }

      .label-left {
        color: var(--ea-switch-disabled-text-color);
      }

      .label-right {
        color: var(--ea-switch-disabled-checked-text-color);
      }
    }
  }
}

:host {
  display: inline-block;
}

@include block(ea-switch) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  color: var(--ea-switch-inactive-text-color);

  @include element(original) {
    display: none;
  }

  @include element(inner) {
    position: relative;

    margin: var(--ea-switch-space);

    width: var(--ea-switch-width);
    height: var(--ea-switch-height);
    line-height: var(--ea-switch-height);

    background-color: var(--ea-switch-inactive-checkbox-bgc);
    border-radius: var(--ea-switch-border-radius);

    transition: background-color var(--transition-normal);

    &::after {
      content: "";
      display: block;

      position: absolute;
      left: var(--ea-switch-indicator-start);
      top: 50%;
      transform: translate(0, -50%);

      width: var(--ea-switch-indicator-size);
      height: var(--ea-switch-indicator-size);

      border-radius: var(--border-radius-circle);
      background-color: var(--ea-switch-indicator-color);

      transition:
        left var(--transition-normal),
        transform var(--transition-normal);
    }
  }

  @include element(label) {
    transition: color var(--transition-normal);
  }

  @include modifier(checked) {
    .ea-switch__inner {
      background-color: var(--ea-switch-active-checkbox-bgc);

      &::after {
        left: var(--ea-switch-indicator-end);
      }
    }

    .label-right {
      color: var(--ea-switch-active-text-color);
    }
  }

  @include modifier(disabled) {
    pointer-events: none;

    color: var(--ea-switch-disabled-text-color);

    .ea-switch__inner {
      background-color: var(--ea-switch-disabled-checkbox-bgc);
    }
  }
}
