@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-message_wrap {
  position: fixed;
  left: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  top: -100%;
  transform-origin: center;
  opacity: 0;
  transform: translate(-50%, 0);
  min-width: 380px;
  overflow: hidden;
  background-color: black;
  transition: opacity 0.3s, top 0.3s;
}
.ea-message_wrap .ea-icon-wrap {
  margin-right: 0.5rem;
  line-height: 1;
}
.ea-message_wrap .ea-text-content {
  line-height: 1;
  vertical-align: middle;
}
.ea-message_wrap.ea-message--success {
  background-color: #f0f9eb;
  color: #67c23a;
}
.ea-message_wrap.ea-message--info {
  background-color: #f4f4f5;
  color: #909399;
}
.ea-message_wrap.ea-message--warning {
  background-color: #fdf6ec;
  color: #e6a23c;
}
.ea-message_wrap.ea-message--error {
  background-color: #fef0f0;
  color: #f56c6c;
}