.ea-tabs_wrap {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.ea-tabs_wrap .ea-tabs_tab-bottom-bar {
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -2px;
  left: 0;
  border-radius: 999px;
  background-color: #409eff;
  transition: left 0.3s, width 0.3s;
}
.ea-tabs_wrap.ea-tabs_wrap--normal {
  border-bottom: 2px solid;
  border-color: #e4e7ed;
}
.ea-tabs_wrap.ea-tabs_wrap--card {
  border-bottom: 1px solid;
  border-color: #e4e7ed;
}
.ea-tabs_wrap.ea-tabs_wrap--card .ea-tabs_tab-bottom-bar {
  height: 1px;
  bottom: -1px;
  background-color: white;
}
.ea-tabs_wrap.ea-tabs_wrap--border-card {
  border-bottom: 1px solid;
  border-color: #e4e7ed;
}
.ea-tabs_wrap.ea-tabs_wrap--border-card .ea-tabs_tab-bottom-bar {
  height: 1px;
  bottom: -1px;
  background-color: white;
}