$name: ea-countdown;

:host {
  --#{$name}-title-size: var(--font-size-md);
  --#{$name}-title-color: var(--grey-700);
  --#{$name}-number-size: 22px;
  --#{$name}-number-color: var(--grey-900);

  display: block;
}

@include block($name) {
  @include element(header) {
    color: var(--#{$name}-title-color);
    font-size: var(--#{$name}-title-size);
    text-align: center;
    margin-bottom: var(--spacing-sm);
  }

  @include element(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--#{$name}-number-size);
    margin-bottom: var(--spacing-md);
  }

  @include element(prefix) {
  }

  @include element(number) {
    color: var(--#{$name}-number-color);
  }

  @include element(suffix) {
  }
}
