:host {
  --ea-footer-padding: 0 20px;
  --ea-footer-height: 60px;
}

@include block(ea-footer) {
  box-sizing: border-box;
  padding: var(--ea-footer-padding);

  height: var(--ea-footer-height);

  overflow: hidden;
}
