$name: ea-page-header;

@include block($name) {
  @include element(wrapper) {
    display: flex;
    align-items: center;

    margin: 0.5rem 0;
  }

  @include element(back) {
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  @include element(icon) {
    // margin-left: 0.25rem;
  }

  @include element(heading) {
    margin-left: 0.5rem;
  }

  @include element(divider) {
    margin: 0 0.75rem;
    color: var(--grey-400);
  }

  @include element(extra) {
    margin-left: auto;
  }
}
