$name: ea-tree;

:host {
  --#{$name}-font-size: var(--font-size-md);
  --#{$name}-text-color: var(--grey-700);
}

@include block($name) {
  font-size: var(--#{$name}-font-size);
  line-height: var(--#{$name}-font-size);
  color: var(--#{$name}-text-color);
}