:host {
  --ea-aside-width: 300px;
}

::slotted(ea-main) {
  overflow: auto;
}

@include block(ea-aside) {
  width: var(--ea-aside-width);
  height: 100%;

  overflow: auto;

  display: flex;
  flex-direction: column;
}
