$name: ea-descriptions;

$size-options: (
  small,
  default,
  large
);

:host {
  --#{$name}-small-spacing: 4px 8px;
  --#{$name}-default-spacing: 8px 12px;
  --#{$name}-large-spacing: 12px 16px;
  --#{$name}-border: 1px solid var(--grey-200);
  --#{$name}-border-cell-color: var(--grey-100);

  --#{$name}-item-width: auto;
  --#{$name}-label-width: auto;

  --#{$name}-cell-default-font-size: var(--font-size-md);

  --#{$name}-label-small-font-size: var(--font-size-sm);
  --#{$name}-label-default-font-size: var(--font-size-md);
  --#{$name}-label-large-font-size: var(--font-size-lg);
  --#{$name}-label-font-weight: var(--font-weight-bold);
  --#{$name}-label-color: var(--grey-900);

  --#{$name}-content-small-font-size: var(--font-size-sm);
  --#{$name}-content-default-font-size: var(--font-size-md);
  --#{$name}-content-large-font-size: var(--font-size-lg);
  --#{$name}-content-font-weight: var(--font-weight-md);
  --#{$name}-content-color: var(--grey-700);

  --#{$name}-align: left;
  --#{$name}-label-align: left;
}

:host {
  display: block;
  width: 100%;
}

#defaultSlot {
  display: none;
}

@include block($name) {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  @include element(caption) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include element(title) {
    text-align: left;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin: var(--spacing-lg) 0;
  }

  @include element(extra) {
    display: flex;
    align-items: center;
  }

  @include element(body) {
    display: block;
    min-width: 100%;
  }

  @include element(row) {
    min-width: 100%;
  }

  @include element(cell) {
    box-sizing: border-box;
    padding-bottom: var(--spacing-lg);
    width: var(--#{$name}-item-width);
    min-width: 100%;
    font-size: var(--#{$name}-cell-default-font-size);
    line-height: calc(var(--#{$name}-cell-default-font-size) * 2);
    text-align: left;
  }

  @include element(header) {
    text-align: left;
    min-width: 100%;
  }

  @include element(label) {
    margin-right: var(--spacing-lg);
    width: var(--#{$name}-label-width);
    font-size: var(--#{$name}-label-default-font-size);
    line-height: calc(var(--#{$name}-label-default-font-size) * 2);
    font-weight: var(--#{$name}-label-font-weight);
    color: var(--#{$name}-label-color);
    text-align: var(--#{$name}-label-align);
  }

  span.#{$name}__label,
  span.#{$name}__content {
    display: inline-block;
  }

  @include element(content) {
    width: var(--#{$name}-item-width);
    font-size: var(--#{$name}-content-default-font-size);
    line-height: calc(var(--#{$name}-content-default-font-size) * 2);
    font-weight: var(--#{$name}-content-font-weight);
    color: var(--#{$name}-content-color);
    text-align: var(--#{$name}-align);
  }

  @include state(border) {
    .#{$name}__label,
    .#{$name}__content {
      padding: var(--#{$name}-default-spacing);
      border: var(--#{$name}-border);
    }

    .#{$name}__label {
      margin: 0;
      background-color: var(--#{$name}-border-cell-color);
      border-right: none;
    }

    .#{$name}__row:not(:last-child) {
      .#{$name}__label,
      .#{$name}__content {
        border-bottom: none;
      }
    }

    .#{$name}__content:not(:last-child) {
      border-right: none;
    }
  }

  @each $size in $size-options {
    @include modifier($size) {
      .#{$name}__label {
        font-size: var(--#{$name}-label-#{$size}-font-size);
        line-height: calc(var(--#{$name}-label-#{$size}-font-size) * 2);
      }

      &.is-border {
        .#{$name}__label,
        .#{$name}__content {
          padding: var(--#{$name}-#{$size}-spacing);
        }
      }
    }
  }
}
