$name: ea-main;

:host {
  --#{$name}-padding: 0 20px;
}

:host {
  display: block;
}

@include block($name) {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: var(--#{$name}-padding);

  overflow: auto;
}
