@import "../ea-icon/css/fontello.css";
@import "../ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../ea-icon/font/fontello.eot") format("embedded-opentype"), url("../ea-icon/font/fontello.ttf") format("truetype"), url("../ea-icon/font/fontello.woff") format("woff"), url("../ea-icon/font/fontello.woff2") format("woff2"), url("../ea-icon/font/fontello.svg") format("svg");
}
.ea-progress_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1;
  height: 1rem;
}
.ea-progress_wrap .ea-progress_track,
.ea-progress_wrap .ea-progress_path {
  height: 0.5rem;
  line-height: 1;
  background-color: rgb(235, 238, 245);
  border-radius: 999px;
}
.ea-progress_wrap .ea-progress_track {
  width: 100%;
}
.ea-progress_wrap .ea-progress_track .ea-progress_path {
  box-sizing: border-box;
  padding-right: 0.5rem;
  color: aliceblue;
  font-size: 0.8rem;
  text-align: right;
  width: 0%;
  background-color: #409eff;
  transition: width 0.2s;
}
.ea-progress_wrap .ea-progress_text {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  width: 3rem;
}
.ea-progress_wrap .ea-progress_text--circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ea-progress_wrap svg circle {
  transform-origin: center center;
  transform: rotate(-90deg);
  stroke-dashoffset: 0px;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.2s;
}