$name: ea-backtop;

:host {
  --#{$name}-right: 40px;
  --#{$name}-bottom: 40px;

  --#{$name}-size: 40px;
  --#{$name}-border-radius: var(--border-radius-circle);

  --#{$name}-font-size: var(--font-size-md);

  --#{$name}-color: var(--blue-500);
  --#{$name}-background-color: var(--grey-100);
  --#{$name}-box-shadow: var(--box-shadow-md);

  --#{$name}-transition: var(--transition-normal);

  --#{$name}-z-index: 1000;
}

:host {
  display: block;
}

@include block($name) {
  position: fixed;

  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;

  width: var(--#{$name}-size);
  height: var(--#{$name}-size);

  right: var(--#{$name}-right);
  bottom: var(--#{$name}-bottom);
  cursor: pointer;

  font-size: var(--#{$name}-font-size);
  color: var(--#{$name}-color);
  background-color: var(--#{$name}-background-color);
  box-shadow: var(--#{$name}-box-shadow);
  border-radius: var(--#{$name}-border-radius);

  z-index: var(--#{$name}-z-index);
  transition: opacity var(--#{$name}-transition);

  @include state(before-enter) {
    display: flex;
  }

  @include state(visible) {
    display: flex;
    opacity: 1;
  }

  @include state(before-leave) {
    opacity: 0;
  }
}
