@include block(ea-message-alert-box) {
  background-color: white;
  padding: var(--ea-message-padding);
  border-radius: var(--ea-message-border-radius);

  @include element(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: var(--ea-message-padding-primary);
  }

  @include element(title) {
    font-size: var(--ea-message-title-font-size);
    line-height: var(--ea-message-title-font-size);
    color: var(--ea-message-title-color);
  }

  @include element(content) {
    font-size: var(--ea-message-content-font-size);
    line-height: var(--ea-message-content-font-size);
    color: var(--ea-message-content-color);
  }

  @include element(footer) {
    padding-top: var(--ea-message-padding-primary);
    text-align: right;
  }
}
