$name: ea-empty;

:host {
  --#{$name}-size: 120px;
  --#{$name}-image-color: var(--grey-400);
  --#{$name}-color: var(--grey-500);
  --#{$name}-description-font-size: var(--font-size-lg);
  --#{$name}-spacing: var(--spacing-lg);

  display: flex;
}

@include block($name) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include element(default) {
    width: 100%;
    height: 100%;

    .border {
      stroke: var(--#{$name}-image-color);
    }

    .front {
      fill: var(--#{$name}-image-color);
    }
  }

  @include element(placeholder) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--#{$name}-size);
    height: var(--#{$name}-size);
  }

  @include element(image) {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  @include element(description) {
    font-size: var(--#{$name}-description-font-size);
    color: var(--#{$name}-color);

    margin-top: var(--#{$name}-spacing);
  }

  @include element(bottom) {
    margin-top: var(--#{$name}-spacing);
  }
}