$name: ea-collapse-item;

:host {
  --#{$name}-border-top: none;
  --#{$name}-border: var(--border-width) var(--border-style) var(--grey-200);

  --#{$name}-header-height: 48px;
  --#{$name}-header-font-size: var(--font-size-md);
  --#{$name}-header-color: var(--grey-900);
  --#{$name}-header-disabled-color: var(--grey-400);
  --#{$name}-header-font-weight: var(--font-weight-bold);

  --#{$name}-content-height: 0;
  --#{$name}-content-font-size: var(--font-size-md);
  --#{$name}-content-color: var(--grey-900);
  --#{$name}-content-padding-bottom: var(--spacing-lg);

  --#{$name}-transition: var(--transition-normal);
}

:host([active]) {
  .#{$name}__expand-icon {
    transform: rotate(0);
  }

  .#{$name}__content {
    padding-bottom: var(--#{$name}-content-padding-bottom);
  }
}

@include block($name) {
  border-top: var(--#{$name}-border-top);
  border-bottom: var(--#{$name}-border);

  margin: 0 var(--spacing-sm);

  @include element(header-wrap) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 2px);

    cursor: var(--cursor-pointer);
  }

  @include element(header) {
    flex: 1 0 auto;

    height: var(--#{$name}-header-height);
    line-height: var(--#{$name}-header-height);

    font-size: var(--#{$name}-header-font-size);
    font-weight: var(--#{$name}-header-font-weight);

    color: var(--#{$name}-header-color);
  }

  @include element(indicator) {
    .#{$name}__expand-icon {
      transform: rotate(-90deg);

      transition: transform var(--#{$name}-transition);
    }
  }

  @include element(content) {
    will-change: height;
    overflow: hidden;

    height: var(--#{$name}-content-height);
    padding-bottom: 0;

    color: var(--#{$name}-content-color);
    font-size: var(--#{$name}-content-font-size);

    transition:
      height var(--#{$name}-transition),
      padding-bottom var(--#{$name}-transition);
  }

  @include modifier(indicator-left) {
    .#{$name}__header-wrap {
      flex-direction: row-reverse;
    }

    .#{$name}__indicator {
      margin-right: var(--spacing-lg);
    }
  }

  @include state(disabled) {
    .#{$name}__header-wrap {
      cursor: var(--cursor-not-allowed);
      color: var(--#{$name}-header-disabled-color);
    }
  }
}
