$name: ea-option;

:host {
  --#{$name}-spacing: var(--spacing-md) var(--spacing-lg);

  --#{$name}-color: var(--grey-900);
  --#{$name}-disabled-color: var(--grey-300);
  --#{$name}-seleted-color: var(--blue-500);
  --#{$name}-hover-bg-color: var(--blue-100);

  --#{$name}-font-size: var(--font-size-md);
}

:host {
  display: block;
}

@include block($name) {
  box-sizing: border-box;
  padding: var(--#{$name}-spacing);

  font-size: var(--#{$name}-font-size);
  color: var(--#{$name}-color);
  cursor: pointer;

  &:hover {
    color: var(--#{$name}-hover-color);
    background-color: var(--#{$name}-hover-bg-color);
  }

  @include state(disabled) {
    cursor: not-allowed;
    color: var(--#{$name}-disabled-color);

    &:hover {
      background-color: unset;
    }
  }

  @include state(seleted) {
    color: var(--#{$name}-seleted-color);
  }
}
