$name: ea-tabs;

:host {
  --#{$name}-tab-spacing: 20px;
  --#{$name}-border-color: var(--grey-300);

  --#{$name}-border-card-bg-color: var(--grey-100);

  --#{$name}-content-spacing: 15px;

  --#{$name}-indicator-color: var(--blue-500);
  --#{$name}-indicator-size: 0;
  --#{$name}-indicator-x: 0;

  --#{$name}-transition: var(--transition-normal);
}

:host {
  display: block;
}

@include block($name) {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;

  @include element(nav) {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row;
  }

  @include element(line) {
    position: relative;

    height: 2px;
    width: 100%;

    background-color: var(--grey-300);
  }

  @include element(indicator) {
    position: absolute;

    display: block;
    height: 100%;

    width: var(--#{$name}-indicator-size);

    background-color: var(--#{$name}-indicator-color);

    transition: transform var(--#{$name}-transition);
  }

  @include element(content) {
    box-sizing: border-box;

    padding: var(--#{$name}-content-spacing);

    width: 100%;
  }

  &.ea-tabs--card,
  &.ea-tabs--border-card {
    .ea-tabs__line {
      display: none;
    }

    .ea-tabs__nav::after {
      content: "";
      position: relative;

      margin-top: auto;

      width: 100%;
      height: 1px;

      background-color: var(--#{$name}-border-color);
    }

    &.ea-tabs--right,
    &.ea-tabs--left {
      .ea-tabs__nav::after {
        width: 1px;
        height: 100%;
      }
    }

    &.ea-tabs--left {
      .ea-tabs__nav::after {
        margin-left: auto;
      }
    }
  }

  @include modifier(card) {
  }

  @include modifier(border-card) {
    border: 1px solid var(--#{$name}-border-color);

    .ea-tabs__nav {
      background-color: var(--#{$name}-border-card-bg-color);
    }
  }

  &.ea-tabs--bottom,
  &.ea-tabs--top {
    .ea-tabs__indicator {
      transform: translateX(var(--#{$name}-indicator-x));
    }
  }

  @include modifier(top) {
    flex-direction: column;
  }

  @include modifier(bottom) {
    flex-direction: column-reverse;

    .ea-tabs__content {
      order: 3;
    }

    .ea-tabs__nav {
      order: 2;
    }

    .ea-tabs__line {
      order: 1;
    }
  }

  &.ea-tabs--right,
  &.ea-tabs--left {
    align-items: stretch;

    .ea-tabs__nav {
      flex-direction: column;
      align-items: stretch;
    }

    .ea-tabs__line {
      height: auto;
      width: 2px;
    }

    .ea-tabs__indicator {
      height: var(--#{$name}-indicator-size);
      width: 2px;

      transform: translateY(var(--#{$name}-indicator-x));
    }
  }

  @include modifier(right) {
    flex-direction: row-reverse;
  }

  @include modifier(left) {
    flex-direction: row;
  }
}
