$name: ea-sub-menu;

::slotted(ea-menu-item) {
  --ea-menu-item-border-color: transparent;
}

:host {
  --#{$name}-spacing: 20px;

  --#{$name}-height: 56px;

  --#{$name}-font-size: var(--font-size-md);

  --#{$name}-border-color: var(--blue-500);
  --#{$name}-active-text-color: var(--blue-500);

  --#{$name}-dropdown-box-shadow: var(--box-shadow-md);

  --#{$name}-transition: var(--transition-normal);
  --#{$name}-z-index: 100;
}

:host {
  display: block;
}

@include block($name) {
  position: relative;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 var(--#{$name}-spacing);
  border-bottom: 2px solid transparent;

  width: 100%;

  font-size: var(--ea-menu-font-size, var(--#{$name}-font-size));
  color: var(--ea-menu-text-color);
  cursor: pointer;
  white-space: nowrap;

  transition: border-color var(--#{$name}-transition),
    background-color var(--#{$name}-transition),
    color var(--#{$name}-transition),
    height var(--#{$name}-transition);

  @include element(arrow) {
    margin-left: var(--spacing-sm);
    transition: transform var(--#{$name}-transition);
  }

  @include element(title) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--ea-menu-text-color);
    height: var(--#{$name}-height);
    line-height: var(--#{$name}-height);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: var(--ea-menu-active-text-color);
    }
  }

  @include element(content) {
    will-change: transform, height, min-height;

    width: 100%;

    background-color: var(--ea-menu-bg-color);

    transition: transform var(--#{$name}-transition),
      height var(--#{$name}-transition),
      min-height var(--#{$name}-transition);

    z-index: var(--#{$name}-z-index);
  }

  @include state(active) {
    color: var(--#{$name}-active-text-color);
  }

  @include state(disabled) {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  @include state(open) {
    .#{$name}__arrow {
      transform: rotate(180deg);
    }
  }

  @include modifier(horizontal) {
    flex-direction: row;
    align-items: center;
    border-bottom-color: transparent;

    .#{$name}__content {
      position: absolute;
      left: 0;
      bottom: 0;

      transform-origin: top center;
      transform: translateY(calc(100% + 3px)) scale(0);

      box-shadow: var(--#{$name}-dropdown-box-shadow);
    }

    &.is-active {
      border-bottom-color: var(--ea-menu-active-text-color);
    }

    &.is-open {
      .#{$name}__content {
        transform: translateY(calc(100% + 3px)) scale(1);
      }
    }
  }

  @include modifier(vertical) {
    flex-direction: column;
    align-items: flex-start;
    border-bottom-color: transparent;

    .#{$name}__title {
      width: 100%;
    }

    .#{$name}__content {
      position: relative;
      box-shadow: none;
      height: 0;

      overflow: hidden;

      transform-origin: top left;
    }

    &.is-active {
      border-bottom-color: transparent;
    }
  }
}
