$name: ea-message;

$types: (
  success,
  info,
  warning,
  error,
  primary
);

:host {
  --#{$name}-z-index: 2000;
  --#{$name}-y: 0;
  --#{$name}-fade-out-y: -100%;

  --#{$name}-spacing: var(--spacing-md);
  --#{$name}-border-color: var(--grey-200);
  --#{$name}-border-radius: var(--border-radius-sm);

  --#{$name}-min-width: 380px;
  --#{$name}-font-size: var(--font-size-md);

  --#{$name}-transition: var(--transition-normal);

  --#{$name}-success-bgc: var(--green-100);
  --#{$name}-success-color: var(--green-500);

  --#{$name}-info-bgc: var(--grey-100);
  --#{$name}-info-color: var(--grey-500);

  --#{$name}-warning-bgc: var(--yellow-100);
  --#{$name}-warning-color: var(--yellow-500);

  --#{$name}-error-bgc: var(--red-100);
  --#{$name}-error-color: var(--red-500);

  --#{$name}-primary-bgc: var(--blue-100);
  --#{$name}-primary-color: var(--blue-500);

  --#{$name}-gap: var(--spacing-md);
}

@include block($name) {
  position: fixed;
  left: 50%;
  z-index: var(--#{$name}-z-index);

  display: none;
  visibility: hidden;
  align-items: center;

  box-sizing: border-box;
  padding: var(--#{$name}-spacing);
  margin: var(--#{$name}-gap) 0;
  gap: var(--#{$name}-gap);
  border: 1px solid var(--#{$name}-border-color);
  border-radius: var(--#{$name}-border-radius);
  font-size: var(--#{$name}-font-size);

  transform-origin: center;
  transform: translate(-50%, var(--#{$name}-fade-out-y));
  filter: opacity(0);

  width: fit-content;
  max-width: calc(100% - 32px);
  overflow: hidden;

  transition:
    filter var(--#{$name}-transition),
    transform var(--#{$name}-transition),
    top var(--#{$name}-transition),
    bottom var(--#{$name}-transition);

  @include element(icon) {
    font-size: var(--#{$name}-font-size);
    line-height: var(--#{$name}-font-size);
  }

  @include element(content) {
    line-height: var(--#{$name}-font-size);
    vertical-align: middle;
  }

  @include element(icon-close) {
    margin-left: auto;
    display: none;
    color: var(--#{$name}-info-color);
  }

  @each $type in $types {
    @include modifier($type) {
      background-color: var(--#{$name}-#{$type}-bgc);
      color: var(--#{$name}-#{$type}-color);

      .#{$name}__icon {
        color: var(--#{$name}-#{$type}-color);
      }
    }
  }

  @include modifier(show-close) {
    .#{$name}__icon-close {
      display: block;
    }
  }

  @include modifier(visible) {
    display: flex;
  }

  @include modifier(is-show) {
    visibility: visible;
    filter: opacity(1);
    transform: translate(-50%, 0);
  }

  @include modifier(before-hide) {
    filter: opacity(0);
    transform: translate(-50%, var(--#{$name}-fade-out-y));
  }

  @include modifier(top) {

    &,
    &-left,
    &-right {
      top: var(--#{$name}-y);
    }

    &-left {
      left: 25%;
    }

    & {
      left: 50%;
    }

    &-right {
      left: 75%;
    }
  }

  @include modifier(bottom) {

    &,
    &-left,
    &-right {
      --#{$name}-fade-out-y: 100%;
      bottom: var(--#{$name}-y);
    }

    &-left {
      left: 25%;
    }

    & {
      left: 50%;
    }

    &-right {
      left: 75%;
    }
  }
}
