$name: ea-scrollbar;

:host {
  --#{$name}-top: 0;
  --#{$name}-left: 0;

  --#{$name}-track-color: var(--color-transparent);
  --#{$name}-thumb-color: var(--grey-300);
  --#{$name}-thumb-hover-color: var(--grey-400);

  --#{$name}-track-vertical-height: 100%;
  --#{$name}-track-vertical-width: 10px;
  --#{$name}-thumb-vertical-height: 0;
  --#{$name}-thumb-vertical-width: 100%;

  --#{$name}-track-horizontal-height: 10px;
  --#{$name}-track-horizontal-width: 100%;
  --#{$name}-thumb-horizontal-height: 100%;
  --#{$name}-thumb-horizontal-width: 0;

  overflow: hidden;
}

:host(:focus) {
  .#{$name}__track-vertical,
  .#{$name}__track-horizontal {
    opacity: 1;
  }
}

@include block($name) {
  position: relative;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

  @include element(track-vertical) {
    position: absolute;
    right: 0;
    top: 0;

    height: var(--#{$name}-track-vertical-height);
    width: var(--#{$name}-track-vertical-width);

    background-color: var(--#{$name}-track-color);

    opacity: 0;

    z-index: 0;

    transition: opacity var(--transition-normal);

    &.is-hidden {
      display: none;
    }
  }

  @include element(track-horizontal) {
    position: absolute;
    left: 0;
    bottom: 0;

    height: var(--#{$name}-track-horizontal-height);
    width: var(--#{$name}-track-horizontal-width);

    background-color: var(--#{$name}-track-color);

    opacity: 0;

    z-index: 0;

    transition: opacity var(--transition-normal);

    &.is-hidden {
      display: none;
    }
  }

  @include element(thumb-vertical) {
    position: absolute;
    right: 0;
    top: var(--#{$name}-top);

    width: var(--#{$name}-thumb-vertical-width);
    height: var(--#{$name}-thumb-vertical-height);

    border-radius: var(--border-radius-round);

    background-color: var(--#{$name}-thumb-color);

    z-index: 1;

    &.is-active {
      background-color: var(--#{$name}-thumb-hover-color);
    }

    &:hover {
      background-color: var(--#{$name}-thumb-hover-color);
    }
  }

  @include element(thumb-horizontal) {
    position: absolute;
    left: var(--#{$name}-left);
    bottom: 0;

    width: var(--#{$name}-thumb-horizontal-width);
    height: var(--#{$name}-thumb-horizontal-height);

    border-radius: var(--border-radius-round);

    background-color: var(--#{$name}-thumb-color);

    z-index: 1;

    &.is-active {
      background-color: var(--#{$name}-thumb-hover-color);
    }

    &:hover {
      background-color: var(--#{$name}-thumb-hover-color);
    }
  }

  @include element(view) {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  &:hover {
    .#{$name}__track-vertical,
    .#{$name}__track-horizontal {
      opacity: 1;
    }
  }

  @include state(dragging) {
    .#{$name}__track-vertical,
    .#{$name}__track-horizontal {
      opacity: 1;
    }
  }

  @include modifier(native) {
    .#{$name}__track-vertical,
    .#{$name}__track-horizontal {
      display: none;
    }

    .#{$name}__view {
      scrollbar-width: auto;
    }
  }

  @include modifier(always) {
    .#{$name}__track-vertical,
    .#{$name}__track-horizontal {
      opacity: 1;
    }
  }
}
