$name: ea-result;

$result-variant-colors: (
  info: var(--grey-500),
  primary: var(--blue-500),
  success: var(--green-500),
  warning: var(--yellow-500),
  danger: var(--red-500),
);

:host {
  --#{$name}-icon-size: 64px;
  --#{$name}-padding: 40px 30px;

  --#{$name}-title-margin-top: 20px;
  --#{$name}-title-font-size: 20px;
  --#{$name}-title-color: var(--grey-900);

  --#{$name}-sub-title-margin-top: 10px;
  --#{$name}-sub-title-font-size: var(--font-size-md);
  --#{$name}-sub-title-color: var(--grey-700);

  --#{$name}-extra-margin-top: 30px;

  @each $type, $color in $result-variant-colors {
    --#{$name}-#{$type}-color: #{$color};
  }
}

:host {
  display: block;
}

@include block($name) {
  box-sizing: border-box;
  padding: var(--#{$name}-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include element(icon-wrap) {
    --ea-icon-size: var(--#{$name}-icon-size);
  }

  @include element(icon) {
    font-size: var(--#{$name}-icon-size);
  }

  @include element(title) {
    margin-top: var(--#{$name}-title-margin-top);

    color: var(--#{$name}-title-color);
    font-size: var(--#{$name}-title-font-size);
  }

  @include element(sub-title) {
    margin-top: var(--#{$name}-sub-title-margin-top);

    color: var(--#{$name}-sub-title-color);
    font-size: var(--#{$name}-sub-title-font-size);
  }

  @include element(extra) {
    margin-top: var(--#{$name}-extra-margin-top);
  }

  @each $type, $color in $result-variant-colors {
    @include modifier($type) {
      .#{$name}__icon {
        color: var(--#{$name}-#{$type}-color);
      }
    }
  }
}
