.ea-steps_wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  ::slotted(ea-step) {
    flex-basis: 50%;
  }

  &.is-simple {
    justify-content: unset;
  }

  ::slotted(ea-step:last-child) {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  ::slotted(ea-step[simple]) {
    flex: 1;
  }
}
