:host {
  --ea-splitter-direction: row;

  overflow: hidden;
}

::slotted(ea-splitter-panel) {
  overflow: hidden;
}

@include block(ea-splitter) {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  width: 100%;
  height: 100%;

  @include modifier(vertical) {
    flex-direction: var(--ea-splitter-direction);
  }
}
